[2021-02-10 14:47] himanshu007-creator opened #1 "UI/UX design for website"

[2021-02-10 14:48] himanshu007-creator opened #2 "Payment gateway integration"

[2021-02-10 14:48] himanshu007-creator opened #3 "Blog management facility"
FEATURES NEEDES:-
admin can add articles along with pictures. I suggest to implement a template approach. like there will be a basic template that includes user defined number of images and below it goes the matter.
For reference om how articles should be uploaded, visit the <a href="http://sfcfoundations.com/category/blogs/">here</a>.

[2021-02-10 14:49] himanshu007-creator opened #4 "Map to display different branches"
SFC have 3 branches as of now.
Delhi
jalandhar
Chandigarh.
We would love if there is a google map showing all 3 branches on a map.

[2021-02-10 14:49] himanshu007-creator opened #5 "Home page"

[2021-02-10 14:50] himanshu007-creator opened #6 "Color scheme + Fonts suggestions for entire project"

[2021-02-13 02:57] khushi935 commented on #4
Can I work on this? and also please guide me how to do it.

[2021-02-13 02:58] khushi935 commented on #4
Map should be display on home page ? at the bottom ?

[2021-02-13 03:15] himanshu007-creator commented on #4
Hi @khushi935 , we will start working on project once girlscript summer of code gives it a go. Till then you can focus on the way you will implement a solution for given issue.

[2021-02-13 03:39] khushi935 commented on #6
![Screenshot (71)](https://user-images.githubusercontent.com/62712155/107840621-4bfb7180-6dda-11eb-9f51-e4eda945fc1c.png)

![Screenshot (73)](https://user-images.githubusercontent.com/62712155/107840630-59186080-6dda-11eb-9dbd-320f27f66be0.png)

![Screenshot (72)](https://user-images.githubusercontent.com/62712155/107840698-f8d5ee80-6dda-11eb-839e-9e5bb9c1059c.png)
This are some of changes that I

[2021-02-13 03:49] khushi935 commented on #4
Okay, Thank you.

[2021-02-13 05:24] himanshu007-creator opened #7 "Readme reloaded"
We need to create a new readme. Keep the main content same, just add a contributor's table. Also make use of some GIF's and emojis to make it look awesome.

[2021-02-13 05:25] himanshu007-creator opened #8 "SUGGESTIONS"
If any developer have any suggestions for the project, you are welcome to reply in this issue. If found useful, you might get a chance to work on the same.

[2021-02-13 05:27] himanshu007-creator commented on #6
Good, but @khushi935 , we have to make a new website from scratch. We will use old website just as a source of motivation, to know how was it done previously.

We aim to build an Amazing new website for the project, that will have  added functionality and better user experience.

[2021-02-13 06:16] khushi935 commented on #6
Okay, I got it😊

[2021-02-13 12:21] himanshu007-creator opened #9 "chatbot integration in website"

[2021-02-13 12:23] himanshu007-creator opened #10 "Plan-chart of website"
Would love if someone could create similar site-plan for our website
![](https://landing.moqups.com/img/content/diagrams/site-maps/ecommerce-shop-sitemap-template.png)

[2021-02-13 12:30] colonealcortez opened #11 "Animation suggestions"
We can try to give new suggestions for animation effects that can be used in website

[2021-02-13 15:39] Thiyageshkanna commented on #8
I would like to add Pre-loader for this Webpage and I would like to change the footer part.

[2021-02-14 14:31] himanshu007-creator opened #12 "ANNOUNCEMENTS :bell:"
This issue will have further announcements common to all contributors. <strong> GSSOC'21 will begin from 1 march onwards</strong> Till then, work on your solutions, get dirty with code.
See you all around :wink:

[2021-02-15 16:13] RuchiGitHu commented on #5
Good Evening,
I am looking forward to solve this issue...
Please let me know something about this issue for my clarity..

[2021-02-15 16:25] himanshu007-creator commented on #5
hi @RuchiGitHu , so the issue is to create a new home page. We are building the website right from scratch and would love to redesign everything. That's why, we will be creating a new HOME PAGE as well. I hope it gives a basic idea.

[2021-02-15 16:54] Anubhav-developr commented on #5
Ok sir i visited the website ...
It was pretty awesome
I think sir you want homepage in the hamburger menu is it so ?

[2021-02-15 16:57] himanshu007-creator commented on #5
sort of , Yeah , but not exactly

[2021-02-15 17:00] Anubhav-developr commented on #5
Ok sir .... btw your website was pretty awesome sir 👌

[2021-02-15 17:40] himanshu007-creator commented on #5
Thanks but, it was because of WORDPRESS TEMPLATES.

[2021-02-16 09:31] RuchiGitHu commented on #5
Thanks for your help...
Now, I understood what I have to contribute for this issue...

[2021-02-16 14:46] himanshu007-creator commented on #12
HI everyone, we have enabled discussions for this project. Feel free to get to know each other well. Discussions are 60% for fun and 40 % for work.
So leave your shell and make some new friends 😀

[2021-02-16 16:46] aniketsingh98571 commented on #9
@himanshu007-creator, For customer support chatbot we can use [Customerly](https://www.customerly.io/en). It is well suited to integrate with WordPress or any Web Based projects.

[2021-02-16 17:39] himanshu007-creator commented on #9
Good! so try to  get familiar with the requirements and be ready to contribute from 1st march

[2021-02-16 19:14] ashi-sharma commented on #9
We can also add chatbot using `dialogflow` as its easy to integrate with website.

[2021-02-16 19:19] ashi-sharma commented on #3
Can I work on this?

[2021-02-17 02:22] himanshu007-creator commented on #3
You can start refining your work, making it more efficient, gssoc will start from 1st March only.

[2021-02-17 04:29] aniketsingh98571 commented on #9
@ashi-sharma that is also a nice solution, I will look into it as of now integrating customerly into the website is simple, but their setup is taking  quite large time.

[2021-02-17 04:34] himanshu007-creator commented on #9
@ashi-sharma , @aniketsingh98571  Good going!,
you both should start working with your idea and lets see who makes the best, fastest solution.

[2021-02-17 16:21] aniketsingh98571 commented on #9
@himanshu007-creator  can you some intents for the Dialogflow? I have integrated dialogflow with the help of communicate plugin on my website and I am planning to do the same for your website/

[2021-02-18 07:19] ayushraghuwanshi7500 commented on #5
Hi, all what are the tech stacks we can use? can we use bootstrap and may be react?

[2021-02-18 07:27] himanshu007-creator commented on #5
Yes, you can but keep in mind, we have to make it simple, because ultimately non-technical person will be the admin and using this website. @ayushraghuwanshi7500  You can work on  #3 that will be more helpful. I want a system that enables admin to login and upload blogs with photographs.  <a href="http://sfcfoundations.com/category/blogs/">HERE</a> you can get an idea what feature i am asking you

[2021-02-19 10:47] ashi-sharma commented on #3
@himanshu007-creator can u assign me this issue. I am working on this.

[2021-02-19 10:48] himanshu007-creator commented on #3
I will assign this issue on March 1 . Till then , get your code together. Best of luck.👍🏽

[2021-02-19 12:57] himanshu007-creator opened #16 "ISSUE TEMPLATE"

[2021-02-19 12:58] himanshu007-creator opened #17 "PULL REQUEST TEMPLATE"

[2021-02-20 04:09] himanshu007-creator commented on #12
⚠ ATTENTION EVERYONE ⚠
I will be having examinations from 8-20 march, so I will be assigning issues on 1st march . In case you wanna raise new issues, you are welcome to do so and start working on it. However, i will be available on 20th march Only, but will try to be online to resolve any doubts if may arise.
Thanks for your cooperation, and BEST OF LUCK TO ALL!!!!!!!!!!!!

[2021-02-20 04:09] himanshu007-creator commented on #17
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:09] himanshu007-creator commented on #16
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:10] himanshu007-creator commented on #11
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:10] himanshu007-creator commented on #10
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:10] himanshu007-creator commented on #9
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:10] himanshu007-creator commented on #8
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:11] himanshu007-creator commented on #7
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:11] himanshu007-creator commented on #6
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:11] himanshu007-creator commented on #5
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:11] himanshu007-creator commented on #4
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:11] himanshu007-creator commented on #3
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:11] himanshu007-creator commented on #2
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 04:12] himanshu007-creator commented on #1
Have a look here first of all https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-20 13:05] Mukta-Sawant commented on #6
@himanshu007-creator  Can I work on this issue? I would like to solve this problem as a part of GirlScript Summer of code 2021.

[2021-02-20 13:08] himanshu007-creator commented on #6
Hi @Mukta-Sawant , you are most welcomed to work on this issue, Please have a look <a href="https://github.com/himanshu007-creator/SFC-foundations/issues/12">here</a> and you will know the drill.
Best of luck.

[2021-02-20 14:47] vaibhav-305 commented on #1
Hello, I would like to contribute. This is my first time contributing, will be a good exercise for me.
Can you please provide some more details for UI/UX like theme etc?
thank you

[2021-02-21 08:01] RuchiGitHu commented on #12
Hi @himanshu007-creator , Please help me to find that file where actually that issue exist, as I am unable to find the file for #5 issue...
Thanks in advance...
**Looking forward to work in this project...**

[2021-02-21 08:03] himanshu007-creator commented on #12
HI, you can use #5 issue chat for this , there is no file as such. You would have to make one and upload. We are making a project right form the scratch.

[2021-02-21 09:34] RuchiGitHu commented on #12
Thanks for your help @himanshu007-creator....

[2021-02-21 11:47] Subhangini commented on #7
I would like to work on this issue .Please assign this to me.

[2021-02-21 13:41] Subhangini commented on #17
I would like to work on this.
Please assign it to me

[2021-02-21 13:42] Subhangini commented on #16
I would like to work on this .
Please assign it to me

[2021-02-21 13:51] himanshu007-creator commented on #7
HI @Subhangini GSSOC will begin on 1st march, then only issues will be alotted . Please have a look here https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-21 13:51] himanshu007-creator commented on #17
HI @Subhangini GSSOC will begin on 1st march, then only issues will be alotted . Please have a look here https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-21 13:52] himanshu007-creator commented on #16
HI @Subhangini GSSOC will begin on 1st march, then only issues will be alotted . Please have a look here https://github.com/himanshu007-creator/SFC-foundations/issues/12

[2021-02-21 13:56] Subhangini commented on #17
Ok @himanshu007-creator .Will wait till then.

[2021-02-21 13:57] Subhangini commented on #16
Ok @himanshu007-creator .Will wait till then.

[2021-02-21 13:59] Subhangini commented on #7
Ok @himanshu007-creator .Will wait till then.

[2021-02-21 15:05] himanshu007-creator commented on #12
Hi everyone, an important announcement, from 8-20th MARCH, i wont be available( sometimes i might be online and drop a HI 😂), in that time period , <strong>@divyashukla23</strong> mam will be looking after your doubts and assigning issues.
GET YOUR CODES READY AND WE WILL START ASSIGNING ISSUES ON 1st MARCH. 🥳🎉

[2021-02-22 07:02] vkassingh commented on #1
Do we have a discord/slack channel for communication?

[2021-02-22 07:04] himanshu007-creator commented on #1
Unfortunately, thats your job to come up with new ideas. I suggest to do some research and suggest something awesome. Rest welcome to the open-source culture!!

[2021-02-22 07:06] himanshu007-creator commented on #1
HI , to promote open-ness and fair practices , we avoid to use any other platform for github. Whenever you feel to talk, use the particular isssue you wanna talk about and comment.

[2021-02-22 13:28] SagarBapodara commented on #10
Hey @himanshu007-creator, I just came across your project from GSSoC'21. Looks like the website is pretty dynamic with payment gateways. I have worked & made many such websites using WordPress. Why don't you continue with WordPress, using Page Builders for the front end, & plugins for integrating various features you need. That will be much easy to maintain as well as an update in the future for t

[2021-02-22 13:32] himanshu007-creator commented on #10
Hi @SagarBapodara , i welcome your suggestion, but the issue is , site will be used by a completely non-technical person, and i want to make it easiest-possible-thing. Therefore i am planning to say bye to wordpress. I wish to make it an awesome and simple website. That should have a feature that allows (ONLY ADMIN) to add articles/blogs along with associated images. I hope you would like to work

[2021-02-22 18:40] sneha-nitdgp commented on #5
I'd like to work on the login feature to upload blogs along with photographs. Can I use django for the same?

[2021-02-22 18:41] sneha-nitdgp commented on #2
I'd like to work on it. Can I use Django for the same?

[2021-02-22 18:43] himanshu007-creator commented on #2
Yes

[2021-02-22 18:44] sneha-nitdgp commented on #2
Okay, please assign this to me!

[2021-02-23 05:32] sheetalj2205 commented on #8
I think the header and footer of the page could be better like the height of the header and in the footer names and other information can be more managed. I would like to work on this.

[2021-02-23 05:44] sheetalj2205 opened #18 "Events Page"
All the events are not properly placed on the events page. It is hard for the reader to read them and they are not placed with proper paddings and space. We can use CSS grid, flex or bootstrap grid system for a better look. I would like to work on this issue for GSSOC'21.

[2021-02-23 10:18] Subhangini commented on #10
Would like to work on this issue. Please assign it to me

[2021-02-28 04:21] AnikaNarang9 commented on #10
Hello, I started to build a basic layout of Home Page when I came across the plan-chart ,the plan chart is inclined towards the design of an e-commerce website it is very different from your original website .Could you please brief me about the sub-sections and what you expect them to be like .

[2021-02-28 16:59] kunal299 commented on #9
@himanshu007-creator Can I work on this issue as a part of Gssoc'21?

[2021-02-28 17:01] kunal299 commented on #2
@himanshu007-creator Can I work on this issue as a part of Gssoc'21?

[2021-02-28 17:03] kunal299 commented on #5
@himanshu007-creator I would love to contribute to the login feature as a part of Gssoc'21?

[2021-03-01 05:47] chehak123 commented on #7
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 05:53] chehak123 commented on #17
https://github.com/syedibrahim/Pharmacy-Management-System

[2021-03-01 05:54] chehak123 commented on #17
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:54] chehak123 commented on #18
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:55] chehak123 commented on #6
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 13:07] Ankita297 commented on #16
I would like to work on this issue under GSSOC ?
Please assign me

[2021-03-01 16:55] aniketsingh98571 commented on #9
@himanshu007-creator As I have discussed previously regarding this issue, I would like to go with it.

[2021-03-01 17:02] himanshu007-creator commented on #12
hi @everyone!,
We are not told to assign issue as-of-now by girlscript. So be patient . Thanks

[2021-03-01 17:04] Aakanksha0407 commented on #4
@himanshu007-creator Can I work on this?

[2021-03-01 17:04] himanshu007-creator commented on #18
Hi @sheetalj2205  , @chehak123 , please have a look here #12

[2021-03-02 07:15] srk224 commented on #1
Hello, I would like to contribute.
I would start working on this as soon as possible and once I am done I will be sharing my mockups.

[2021-03-02 09:24] vismitap commented on #16
I would like to work on this as a part of GSSOC! Please assign me this!

[2021-03-04 07:21] chaitanyashimpi opened #20 "Need to create a SitMap"
I saw your website, it's fabulous. And as it big, it should have the SiteMap.

I will make a sitemap.xml and sitemap.html for the website.

[2021-03-04 07:21] chaitanyashimpi opened #21 "Need to create a SiteMap"
I saw your website, it's fabulous. And as it is big, it should have the SiteMap.

I will make a sitemap.xml and sitemap.html for the website.

[2021-03-04 07:22] chaitanyashimpi commented on #21
Can you please assign this issue to me as a part of GSSOC.

[2021-03-04 07:22] #20 closed

[2021-03-06 14:49] mu593 commented on #9
@Jaya singh /mu-593 Can i work on this issue ,I would create AI based chatbot to your website as a part of Gssoc'21

[2021-03-06 17:42] sneha-nitdgp commented on #1
I'd like to contribute. Please assign this to me!

[2021-03-06 17:43] sneha-nitdgp commented on #3
Can you please assign this to me?

[2021-03-07 16:33] mansijain980 commented on #9
@himanshu007-creator sir , we can merge chatbot for customer help like this is a NGO based website we can give option to them so that they will not write only they have to select a option .....
We can make a json file for do so .
I have implemented it before for a hotel website.
I would like to implement it .
Thanks

[2021-03-07 16:35] mansijain980 commented on #3
@himanshu007-creator sir , i can make a responsive blog template.
Assign this to me .

[2021-03-07 16:41] himanshu007-creator commented on #12
HI everyone, kindly have a look <a href='https://docs.google.com/document/d/1pqhhsE1E1-bqn_etHTKhK0fWKR9v1hL_lBAsjTvTbN0/"HERE</a>
coding period will start from tomorrow. @divyashukla23  will be asigning you issues. She is the co-admin and feel free to reach her out. We are planning to make a discord channel soon, so stay tuned!!😀

[2021-03-07 19:45] nisha331 commented on #5
hey @himanshu007-creator i want to work on the front-end of this project as a part of GSSOC'21 , when and from where should i start

[2021-03-08 07:33] Aakanksha0407 commented on #4
@himanshu007-creator can I work on this as a part of GSSOC'21?

[2021-03-08 08:01] medhavi11 commented on #5
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 08:01] medhavi11 commented on #18
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 08:10] himanshu007-creator commented on #21
@chaitanyashimpi  yes you can work on it. We just need an idea like how you will proceed. As we are redisigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:11] himanshu007-creator commented on #18
@sheetalj2205  yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:12] himanshu007-creator commented on #17
@Subhangini   yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:13] himanshu007-creator commented on #16
@Subhangini   yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:16] himanshu007-creator commented on #7
@chehak123  Best of luck!

[2021-03-08 08:17] himanshu007-creator commented on #1
@sneha-nitdgp   yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:17] himanshu007-creator commented on #3
@ashi-sharma 5  yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:19] himanshu007-creator commented on #5
@nisha331   yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:19] himanshu007-creator commented on #6
@Mukta-Sawant   yes you can work on it. We just need an idea like how you will proceed. As we are redesigning everything so everything will be changes and so will the site structure. We just need to know how you are going to implement it. Prepare a prototype of code and send it within this week. Best of luck!

[2021-03-08 08:20] himanshu007-creator commented on #8
Send a code sample (PR)

[2021-03-08 08:28] himanshu007-creator commented on #12
https://discord.gg/GdApbmYB all participants please join this discord server

[2021-03-08 11:50] abhish3k-11 commented on #1
Hi @himanshu007-creator   I'm a UI/UX designer. I have worked on this type of projects before. I'd like to contribute to this issue.

[2021-03-08 13:19] himanshu007-creator commented on #1
hi @abhish3k-11 , glad you showed up! if @sneha-nitdgp is unable to do the task, you will be called. Till then wait🙂

[2021-03-08 14:43] ashi-sharma commented on #3
okay, I will be sharing the prototype soon.

[2021-03-08 17:08] Dwitrisha opened #23 "Animation to Projects Section"
I want to add animations to the projects section on the home page using js. @divyashukla23 @himanshu007-creator @praveenscience can you assign this issue to me?

[2021-03-08 17:10] himanshu007-creator commented on #23
Hi! Can you please elaborate your proposal?

[2021-03-08 17:31] satcasm opened #24 "Suggestion: Use of a suitable background"
When I visited the home page, it gives me restless feeling if I see some texts overlapping , I mean certainly it's not a big issue , but surely it would be look great if we change the background to something that doesn't result in overlapping texts.
**Screenshot:**
![image](https://user-images.githubusercontent.com/56315878/110358205-26245e00-8062-11eb-8bbb-2da5c927bd73.png)

Would like to work on

[2021-03-08 18:18] subhangi2731 commented on #11
can you please assign this issue to me?

[2021-03-08 19:45] shairanshrawat commented on #18
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same.
I thought of doing the following
- At the start of the event page thought of using a Carousel where we can 4-5 picture from the event and writing quotes on that
-  after that, using  Bootstrap’s cards for event detailing and placing them on the page using  CSS grid, flex, or bootstrap grid system for the upc

[2021-03-09 01:51] meghna750 opened #25 "Search bar"
This website has many events listed, and in future, the count will surely increase. The same is the case with the blogs section.
I want to add a search bar for both the events section and blogs section (as a part of GSSOC'21 participant). Please assign this task to me.

[2021-03-09 04:59] Vartika511 commented on #4
@himanshu007-creator hello sir can I work on this. I have prior experience in this as well as I have  created many websites which included map. Looking forward to work on this as a part of GSSOC'21.

[2021-03-09 05:02] bug-debug-done commented on #5
can I also creat a prototype?

[2021-03-09 05:32] machine-sg commented on #5
I am a GSSOC'21 participant and I wish to work on this. Hope to hear back from you .
Thank you .

[2021-03-09 06:59] kanishka8276 opened #26 "Top button is not user friendly #GsSoc'21"
It would be better if there is top written or an arrow on the button.
Please assign this to me.

[2021-03-09 07:28] mansijain980 commented on #5
@himanshu007-creator can i work on this issue ..... i m thinking of using containers and some attraction google fonts with responsive pages.
Please assign this to me.

[2021-03-09 07:29] mansijain980 commented on #6
@himanshu007-creator  sir can i implement it ? I will send u a prototype of this code .
Please Assign it to me

[2021-03-09 08:05] bug-debug-done commented on #10
Hello @himanshu007-creator can you please share exactly what you want for the website so that the end result will be accurate.

[2021-03-09 09:20] mridul-netizen opened #28 "Rebuilding the whole site using some appropriate framework and backend"
The site is nothing but simple templates of wordpress ,it needs to be coded and made accordingly for use to add new blog posts and other new features

[2021-03-09 09:42] kanishka8276 opened #29 "Name field validation in contact us form"
We can add form validation in the name field of the contact us form so that  valid name is entered by the user as now it allows entering numbers and special characters also.
#GsSOC'21

[2021-03-09 10:14] Subhangini commented on #16
![s1](https://user-images.githubusercontent.com/68437435/110454954-e1460900-80ed-11eb-9df2-1a8502101905.jpg)
![s2](https://user-images.githubusercontent.com/68437435/110455174-1c483c80-80ee-11eb-8b7e-79de595a2c2d.jpg)

This is my code snippet .

[2021-03-09 11:04] kanishka8276 opened #30 "."

[2021-03-09 11:08] #30 closed

[2021-03-09 11:33] chitrasingla opened #31 "Contact Us Form"
Hey !!
I am interested in this project as GSSOC '21 participant.
The contact us form is very simple and not looking good, I would like to work on that and will try my best to make it better

Please assign this issue to me.
Thanks.

[2021-03-09 11:36] chitrasingla opened #32 "Events page"
Hey !!
I am interested in this project as GSSOC '21 participant.
The events listed on the events page are listed vertically, they can be arranged in a more better way. I would like to work on this.

Please assign this issue to me.
Thanks.

[2021-03-09 12:43] nandita658 commented on #32
Hey... We can show events as a slide show. I think it will look nice.
I am interested in this project and would like to work on this issue as a GSSOC '21 partcipant. Please assign this to me..

[2021-03-09 12:47] nandita658 commented on #31
Hii... Can I work on this issue as a GSSOC participant?
I can add some font color or may be font style to it and arrange the form so that it will look nice.
Please assign this issue to me.

[2021-03-09 13:55] bug-debug-done opened #33 "payment gateway integration"
I am a GSSoC'21 participant. I would like to add the payment gateway integration to the site.
please assign this to me.

[2021-03-09 13:57] bug-debug-done opened #34 "Create admin dashboard"
I would like to create a responsive admin dashboard. It will be easy to use.
please assign me this issue.

[2021-03-09 14:54] Siddharth1006 commented on #2
@himanshu007-creator
Is this issue been alloted? if not then I am thinking of using djstripe. Can you assign it to me?

[2021-03-09 15:08] neha030 commented on #31
Hii..I am a GSSOC'S 21 participant  and work on this issue.
I can make it more catchy by implementing CSS.
please assign me this work.

[2021-03-09 15:21] nNikita1018 commented on #32
I am interested in this project.
please assign to me

[2021-03-09 15:23] nNikita1018 commented on #28
I want to contribute in this project. by solving this issue.

[2021-03-09 15:53] SnehaVeerakumar opened #35 "Django as backend"
I am GSSOC'21 participant. I would like to work on the backend using Django. Kindly assign me this issue to start working on it.

[2021-03-09 16:35] prisha-srivastava opened #36 "Adding Dark mode to website"
I would like to add the dark mode feature to the website. Please assign me this issue under GSSOC'21.

[2021-03-09 17:53] Mukta-Sawant commented on #6
@mansijain980 I don't mind working together with you on this issue, only if you and @himanshu007-creator are okay with it!

[2021-03-09 17:56] Naman-12911 commented on #36
Hello sir , can i solve this issue please assign me this issue under GGSOC

[2021-03-09 17:58] Aastha1011 commented on #5
Hi I am Aastha Agarwal, a GSSOC'21 participant. Can you assign me this issue!? I will be using HTML, CSS, BootStrap and JavaScript to design it.

[2021-03-09 17:59] Naman-12911 commented on #31
Hello sir , I am a participant of of GSSOC .
I can easily done the contact us form with Django backend.
Please assign me this issue

[2021-03-09 18:01] GurleenKaur111 commented on #31
Hello....I am a participant of GSSOC 21
I would like to design the contact us form and make it more attractive .
I have my hands on practice in technologies like HTML, CSS, JavaScript and I also have Web Development Internship experience.
Can you please assign this task to me.

[2021-03-09 18:16] GulshanKataria commented on #4
@himanshu007-creator Hi sir. Can I work on a map to display different branches. I can create a webpage which would show all the branches on google map

[2021-03-09 21:07] #36 closed

[2021-03-09 22:44] Mrinal81 opened #37 "Blog Uploading Features"
I am GSSOC'21 Participant. I will add Blog Uploading Features in  website that will look good.
Please Assign me this issue.

[2021-03-10 04:17] CMELAKKIA commented on #35
I am GSSOC'21 participant. I would like to collaborate with Sneha to work in Django. Kindly assign me this issue.

[2021-03-10 05:20] Aanchal116 commented on #31
Hii @himanshu007-creator ,
I would like to work on this issue as a part of GSSOC'21. I've hands-on practice in web development and also a mentorship experience. Please assign this task to me if possible.

[2021-03-10 05:22] Aanchal116 commented on #26
Hii Sir ,
I would like to work on this issue as a part of GSSOC'21. I've hands-on practice in web development and also a mentorship experience. Please assign this task to me if possible.

[2021-03-10 05:23] Aanchal116 commented on #24
Hii , I would like to work on this issue as a part of GSSOC'21. I've hands-on practice in web development and also a mentorship experience. Please assign this task to me if possible.

[2021-03-10 05:43] WebVishal opened #38 "Suggestion : Added Transaction Effect in Nav bar and Improve Footer Section"
hi, I'm Vishal, Want to Contribute to this project as participant GGso21, I have added some Transaction effect on navbar items and Improve the footer section

[2021-03-10 06:33] starlightknown opened #39 "add CONTRIBUTING.md"
add contributing.md to give more information about your project,how to set up and run it and welcome new contributors

[2021-03-10 07:45] Nikitha2309 commented on #39
I am a GSSoC'21 participant and I want to work on this issue. Please assign this issue to me.

I have read READ.ME and gone through the project. Hence I can create a clean understandable contribuiting.md which gives more detailed information about the contribution to the project.

Looking forward to the PR getting assigned to me.

[2021-03-10 07:47] AasthaGoyalgit commented on #25
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:52] Nikitha2309 opened #40 "Improvise and update CODE_OF_CONDUCT.md"
@himanshu007-creator I would like to improve CODE_OF_CONDUCT.md . It is important that contribuitors must follow a certain protocol to raise Pull Requests. Else it leads to various spam PR's which becomes a hurdle to filter manually. Hence I would like to raise this issue to improvise CODE_OF_CONDUCT.md .

Looking Forward to getting this issue approved with GSSoc'21 label and assigned to me. Thank

[2021-03-10 08:55] devu26 opened #42 "Editing and Improving Footer"
I would like to add some of the page in footer and edit it so I request u to assign this issue to me.

[2021-03-10 09:31] kevla-4121 opened #43 "Redirecting issue of DONATE NOW button"
When we click on DONATE NOW button , it is redirecting us to home page while it should not redirect us to home page , instead it should take us on new page . I think this is an issue and I want to solve this issue. please assign this issue to me

[2021-03-10 12:39] Coder-Srinivas opened #44 "Using Node.js as Backend"
Hey, I would like to start working on backend using Node.js. Please assign me this issue as a part of GSSoC 2021.

[2021-03-10 12:44] machine-sg opened #45 "Footer of web pages"
I am a GSSoC'21 participant and I want to improve the footer of each of the web  pages. Please assign me this.

[2021-03-10 12:55] Sristi27 opened #46 "Blog Section Design"
The blog page can be made better lookwise.Likes option and comments addition UI can be improved.Kindly assign this issue to me.

[2021-03-10 15:36] shrishti-c opened #47 "Contact Us section design"
The Contact Us section doesn't seem interactive. I can make them graceful which can interest people to join the organization. Please allow me to do the required change.

[2021-03-10 16:04] Subhangini commented on #16
@himanshu007-creator is it sufficient  for issue template or i should change something please review it.

[2021-03-10 16:31] HarshitPandey251 commented on #29
I want to work on this issue

[2021-03-10 17:43] Naman-12911 commented on #45
hello, I am a participant of GSSOC I want to fix this issue please assig me . I am waiting for your replay

[2021-03-10 18:01] javedhamdan107 opened #48 "Search bar for events"
to create a search bar for searching different events

[2021-03-11 04:18] jainh6148 commented on #45
Hi, I would like to work on this issue. Kindly assign it to me

[2021-03-11 04:24] chaitanyashimpi commented on #21
@himanshu007-creator @divyashukla23 I have made a Pull request, check it out. And I have tried my best to explain the process of how you can update it in the future.

[2021-03-11 06:36] Ankkkitt commented on #31
Hello sir, I am a participant of GSSoC'21
I would like to make a detailed Contact Us form and make it look more attractive using HTML, CSS, and BootStrap.
I am a beginner at Open Source Contribution and want to contribute to this issue. If you assign this task to me I will do as much as I can do for making this Contact us form better.

[2021-03-11 07:16] divyashukla23 opened #49 "Wireframe"
Hey everyone! since the website has to be created from scratch first we need a wireframe for it.
Interested candidates can send me the wireframe on discord (you can find me easily on the project channel in the main server) and then we will proceed.
Happy coding.

[2021-03-11 07:17] divyashukla23 commented on #21
@chaitanyashimpi i will check it and update soon.

[2021-03-11 09:53] simranbhalla3 commented on #48
Please assign this issue to me and add gssoc'21 label to it. i would love to work on this @javedhamdan107

[2021-03-11 09:54] simranbhalla3 commented on #47
Hi , I am a gssoc'21 participant and would like to work on this issue, please assign it to me

[2021-03-11 10:24] Priyanka7011 commented on #45
Hi I am a GSSOC 2021 participant. I would love to work on this issue and I will give my best .
Please assign me this issue I want to contribute to this wonderful project.

Thank You

[2021-03-11 10:27] Priyanka7011 commented on #46
Hi I am a GSSOC 2021 participant.
I would love to work on this issue to improve the looks of the website.
Please assign me this issue.

Thank You

[2021-03-11 10:31] Priyanka7011 opened #50 "Header can be improved"
Hii I am a GSSOC 2021 participant.
I think the  header is too much broad it should be narrow so that the hero page of the website is properly visible and attracts the viewer.

I can solve this issue.Please assign me this. I would give the best result .

Thank You

[2021-03-11 10:39] saumyasrivastava08 commented on #49
Can I work on this?

[2021-03-11 11:22] akankshaaa-08 commented on #49
@divyashukla23 Hello Ma'am. Can I have this issue assigned to me?

[2021-03-11 11:24] himanshu007-creator commented on #49
Sorry @akankshaa-08. by mistake. First @saumyasrivastava08  have asked for it, so she will be given time. Till then you can work on your samples. Best of luck ;)

[2021-03-11 14:30] drishika2002 commented on #31
Hello, I am a participant in GSSOC'21 and would like to work on this issue using HTML, CSS, and BootStrap. If possible, please assign this task to me.

[2021-03-11 15:10] saumyasrivastava08 commented on #49
Should i start?

[2021-03-11 15:10] drishika2002 opened #51 "Looks of all the blogs on different topics requires improvement"
The blogs written for different topics can be made more attractive by changing the font size and font style. Also, some more styling can be given to the blog pages.

_Example: In the blog "BANNING CHINESE APPS: IS IT SIGNIFICANT?" font size can be modified along with some more changes to make it attractive._

[2021-03-11 15:11] drishika2002 commented on #51
Hello,
I am a GSSOC'21 participant and would like to work on this issue.

[2021-03-11 15:12] himanshu007-creator commented on #49
Full steam ahead!🟢

[2021-03-11 15:12] saumyasrivastava08 commented on #49
Thanks for assiging me.

[2021-03-11 15:22] saumyasrivastava08 commented on #49
![Uploading IMG_20210311_204941.jpg…]()
Something like this I am planning

[2021-03-11 16:39] Aman1905 commented on #45
Hey I am a GSSOC 21 participant and I want to improve the footer section of the site
1. social profiles and so on
do assign me this issue and i will definitely try to get back with  a wonderful footer section
Thank You

[2021-03-11 16:42] Aman1905 commented on #47
Hi I am a gssoc 21 participant and I would definitely like to improve the contact us section as it is not so much user interactive in terms of its design and gracefullness. Do assign me this issue and I will definitely come back with a beautiful contact form which user would also like to fill

Thank You

[2021-03-11 16:45] Aman1905 commented on #28
Hey
I guess we need to work on the whole website from the scratch and I would suggest we must use React as it is in demand now a days and also a great web framework to build sites. Do assign me this and I may help in rebuilding the website again

Thank You

[2021-03-11 16:47] Aman1905 commented on #34
Hey
I would like to work on the admin dashboard using reactjs
do assign me this issue and I will definitely try to make an interactive one

Thank You

[2021-03-11 18:57] ishitamundhra opened #52 "The social profiles can be added to the footer."
I'd love to resolve the issue. Let me know if that's fine.

[2021-03-12 03:56] archanagandhi opened #53 "[UI & UX] Prototype from wireframe"
Hey @divyashukla23 @himanshu007-creator, As I can see the project is building from scratch and I've also seen the wireframe has been assigned.
So after the wireframe has been made, I would like to create a prototype [UI & UX] design from the wireframe for the website.

[2021-03-12 06:48] nandita658 commented on #52
Can i work on this issue?

[2021-03-12 08:58] avinashjha1320 opened #54 "Alignment of Projects"
In the project section, all the projects are not aligned at the same level.

- The heading text of "Project Gyan" is lower than compared to the heading text of "PROJECT SAMPURAN".
- The image and text of "PROJECT VATAVARAN" is also not aligned with the other 2 projects.

I had solved the issue. Can you please assign this issue to me under #GSSoC'21.

[2021-03-12 10:08] ankitaugale23 opened #56 "Add styling to project section and section below it"
1. We can add bootstrap and CSS styling to the cards so they would look more appealing.
2. We can create or divide these 3 thing into 3 different cards with some styling effects such as on hover they would highlight the favicon and increase the size of favicon and card itself. @himanshu007-creator @divyashukla23

[2021-03-12 10:38] divyashukla23 commented on #49
@saumyasrivastava08 U can send it on discord and i will brief about the structure that we are planning.

[2021-03-12 10:42] divyashukla23 opened #58 "Prototype-SFC Foundations"
Hey everyone!
I would like to raise the issue for designing the prototype of the website so that we can proceed with the actual UI/UX modification and then for the backend part respectively the wireframe is already assigned ..the interested candidate can go for designing the prototype. Refer to the intro video by @himanshu007-creator for more help.
Happy Coding

[2021-03-12 10:44] divyashukla23 commented on #49
One more thing for every issue we are giving 2 days deadline for example if the issue has been assigned today the PR must be sent within two days otherwise we may pass the issue to the next deserving candidate. This is done to ensure that no participant misses out the chance and the project is completed on time. :)

[2021-03-12 10:47] Subhangini commented on #58
Where can i get the intro video?

[2021-03-12 11:00] innovation-platform commented on #29
I would like to work on this under GSSoc'21

[2021-03-12 11:03] innovation-platform commented on #26
I would like to work on this issue as part of GSSoc'21

[2021-03-12 11:52] Dwitrisha commented on #23
I want to add some animations on the projects sections such as hover effect or so

[2021-03-12 12:11] rohank2502 opened #59 "Will like to add techstack section used ( logo also )"
I will like to add the tech stack used and also their logo this will make the read me file more attractive !! Will start the work as soon as I get assigned

[2021-03-12 12:15] rohank2502 opened #60 "Will like to add the automatic updating contributor section !!"
I will like to add a feature which will keep the contribution section in read me updated automatically !! Will start on this issue as soon as I get assigned !!

[2021-03-12 13:40] gritika18 opened #61 "Changing height of navigation bar and adjusting it according to different device size"
The navbar covers a lot of space of the body and also looks very simple. I would like to decrease its height and also the styling of the contents in it.

[2021-03-12 14:10] saumyasrivastava08 commented on #49
Link for discord Channel?

[2021-03-12 15:04] nandita658 opened #62 "Header (navbar and background) Size and Appearance"
Hey everyone...
I can work on resizing the navbar and instead of displaying images of different size, I can add a background with slideshow, which will look more attractive. I can start working on this issue as soon as you assign it to me.

[2021-03-12 15:11] nandita658 opened #63 "Using cards and some css for projects section"
In projects section, instead of using a single white block, I can use cards and also adjusting image and text size for more beautiful alignment. I can start working on this issue as soon as you assign it to me.

[2021-03-12 18:28] divyashukla23 commented on #49
You must have received the discord invitation for the main server on your mail right? You can look for the SFC-Website in the project channel list, I and the other mentors are there. Hope it helps.

[2021-03-13 03:03] jainayush362 commented on #58
Hey @divyashukla23 I would like to work on Prototype Designing of the Website. I can modify the existing UI of the SFC website and make it more elegant and attractive. Could you please assign me this ?

[2021-03-13 03:30] dibyanshu-mohanty commented on #43
Hello @himanshu007-creator , I can add an actually working donate button and I would like to work on it under GSSOC . Clicking on the Donate Now would redirect to a live page for donations

[2021-03-13 03:35] dibyanshu-mohanty opened #64 "Learn More Page ."
Hello @himanshu007-creator , The first learn more page looks very much unprofessional, and  I would like to refine the same  as soon as assigned.

[2021-03-13 04:33] archanagandhi commented on #58
Hey @divyashukla23 @himanshu007-creator, yesterday itself I've created a new issue named prototype UI/UX (please check on them ) for designing the prototype. So Please assign this to me.

[2021-03-13 04:55] HelenEH0 commented on #49
Hey @divyashukla23 ,
Can I contribute to this?

[2021-03-13 06:35] #54 closed

[2021-03-13 09:58] Dimple115 commented on #63
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:01] Dimple115 commented on #62
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:02] Dimple115 commented on #52
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:02] Dimple115 commented on #47
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:03] Dimple115 commented on #45
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:03] Dimple115 commented on #42
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:04] Dimple115 commented on #5
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 12:26] himanshu007-creator commented on #60
Would you like to work?  @rohank2502  on this issue?!

[2021-03-13 12:55] Pallavi-02 commented on #60
I'm the Participant of GSSOC'21. Please assign me this issue.I would love to work on this

[2021-03-13 13:17] RubenFalcao14 commented on #50
Hii,
I'm a Participant of GSSOC'21. Please assign me this issue. I would love to work on the issue and resolve it as fast as possible.
Thank You.

[2021-03-13 15:18] Tanu-priya-Roy commented on #64
I would Like to work on this issue. Please assign me this issue.

[2021-03-13 15:20] Tanu-priya-Roy commented on #56
I would like to work on this issue. Please assign it to me.

[2021-03-13 15:21] Tanu-priya-Roy commented on #38
I would like to make a responsive footer. Please assign it to me.

[2021-03-13 18:07] subhangi2731 commented on #2
please assign me this issue

[2021-03-13 20:44] bindu030 commented on #5
Hi I am Bindu GSSOC'21 participant would love to design a new web page please assign this task to me.Thank you

[2021-03-13 20:48] bindu030 commented on #42
hi this is Bindu a GSSOC'21 participant looking forward to making the footer more attractive and informative.So please assign this task to me.

[2021-03-13 20:51] bindu030 opened #65 "success stories"
looking forward to adding the so far success stories on the websites in order to show people how this NGO organization impacted in making things better. Thank You.

[2021-03-14 09:42] n-coder2k commented on #52
I would like to work on this issue as GSSOC participant.Please assign me this issue.

[2021-03-14 10:19] rray14 opened #66 "Style the hero image section"
Hi my name is Ardra, participant of GSSoC'21
I can contribute by styling the hero image section of the current site
Being the first content a visitor encounters on the site, it could be made to represent the theme of your site
Please assign me this issue
Thanks!

[2021-03-14 12:32] aroma-sketch commented on #52
hey there, I am new to open source projects, and I would like to solve this issue as a small step, looking ahead to a response. it would be helpful  @himanshu007-creator .

[2021-03-14 12:34] aroma-sketch commented on #47
hey there, I am new to open source projects, and I would like to solve this issue as a small step, looking ahead to a response. it would be helpful.

[2021-03-14 15:30] divyashukla23 commented on #49
@HelenEH0 Hi can you please elaborate your proposal!

[2021-03-14 15:31] divyashukla23 commented on #56
@Tanu-priya-Roy Please elaborate your proposal

[2021-03-14 15:36] divyashukla23 commented on #56
@ankitaugale23 i have assigned the issue to you. Work on it we will review your PR as soon as you send it.

[2021-03-14 15:42] nandita658 commented on #63
@himanshu007-creator Can I start working on this?

[2021-03-14 15:50] ApekshaAgarwal opened #67 "Removing CMS and theme detail from footer"
Theme and CMS details in the footer will increase more vulnerability chances to the site so these details should be removed from the front end. I would like to make this enhancement. Please @himanshu007-creator allow me t work on this and assign it to me with gssoc label.

[2021-03-14 16:01] ApekshaAgarwal opened #68 "Contact us form thanks email"
Currently on site the Contact us form is not sending and thanking email for contacting. I would like to work on this feature. @himanshu007-creator , please assign this issue to me and add label gssoc to it.

[2021-03-14 16:03] Tanu-priya-Roy commented on #56
Sure, will do that.

On Sun, 14 Mar 2021, 9:07 pm Divya Shukla, ***@***.***> wrote:

[2021-03-14 16:05] ApekshaAgarwal opened #69 "Wrong Icon for youtube"
On front end social media section flickr icon is displayed with the youtube link. I would like to work on this and fix it. @himanshu007-creator , please assign this issue to me under gssoc label.

[2021-03-14 16:18] ankitaugale23 commented on #56
Sure @divyashukla23 Thanks for assigning it to me. I will make a PR by this Tuesday.

[2021-03-14 19:43] Ayushbajpai19 commented on #69
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-14 19:44] Ayushbajpai19 commented on #58
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-14 19:44] Ayushbajpai19 commented on #33
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-14 19:45] Ayushbajpai19 commented on #31
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-14 20:31] ashi-sharma commented on #3
@himanshu007-creator @divyashukla23  I have implemented the website(mainly the blog management part) using `embedded javascript templating(ejs)` . Other than that I have used `HTML`, `CSS`, `Bootstrap` for basic structure and styling. UI and design is to be improved in future according to the overall design and color of website(mainly homepage).
Also I want to know how and where will be the featur

[2021-03-15 03:09] malavikarajeshvikraman opened #70 "Modifying the Events Page"
Hi ,I am Malavika participating GSSOC'21 .

Instead of having stacked up events , I was thinking lets display the events as cards.
I am interested in contributing to this issue could you please assign me this .

[2021-03-15 03:37] Naman-12911 commented on #68
I want to work on this issue please assign me under GSSOC.

[2021-03-15 10:31] rohank2502 commented on #60
Yes I will like to Sorry Due to pending issues I forget to look towards this will start to as soon as I get assigned !!

[2021-03-15 10:52] Aryamanz29 opened #71 "[Need] Issue Template"
Currently, we haven't any` issue template` for this repo

[2021-03-15 10:52] Aryamanz29 commented on #71
I would to work on this issue, Kindly assign it to me

[2021-03-15 13:36] mansijain980 commented on #10
Hi @himanshu007-creator sir , i m a Gssoc participant . Please assign this to me.

[2021-03-15 13:40] mansijain980 commented on #5
Let me know sir . i m excited to work on it ...please assign it to me.

[2021-03-15 13:42] mansijain980 commented on #7
@himanshu007-creator , I want to work on it as I already volunteering in a NGO so it will be easy for me to work for this website .
I am  a GSSOC participant.
Assign it to me please

[2021-03-15 15:22] ShambhaviSharma0110 commented on #66
Hey, I'm interested in this project could you please allow me to work on it?

[2021-03-15 16:06] sudeepshukla930 opened #72 "Updation in Home Page"
Hey @himanshu007-creator , @divyashukla23 , I was just viewing the website , I found that :

1. There is a lack of hover effect in the header
2. A little bit of enhancement in style
3. the header is long.

what your view on it.
Waiting for your response @himanshu007-creator, @divyashukla23.

[2021-03-15 16:27] divyashukla23 commented on #72
@sudeepshukla930 yes sure go ahead.
i am adding labels to the issue and assigning it to you.

[2021-03-15 16:33] sudeepshukla930 commented on #72
Thankyou so much

[2021-03-15 16:45] Vanshikaa00 opened #73 "Positioning and responsiveness on Core Team pages"
1) Hello, on Core team Jalandhar, delhi and chandigarh page, the content inside the carousel displaying the team members list is positioned to left and also touching the dots below (the circled ones)
![image](https://user-images.githubusercontent.com/53425575/111188460-144f3780-85db-11eb-8322-4355a8f4add2.png)

2) When this page is viewed on a smaller device/mobile, the team members pictures come

[2021-03-15 17:25] Elizah550 commented on #63
I have a great experience for CSS i can assure that i can make the website responsive and user friendly.Assign it to me.
Thanks !!!

[2021-03-15 17:27] Deeks900 opened #74 "Modifications In Know SFC Page"
I want to modify the I Know SFC page so that it can have effects like hover effect, some Transition effects. I'm interested in designing this page from scratch. Could u please assign this issue to me.

[2021-03-15 17:31] Elizah550 commented on #65
Heyy!!
I can make this happen I have hands on experience for this will definitely have great look for the website for sure.
Please assign it to me.
Thanks!!!!

[2021-03-15 18:20] Akibsheikh48 opened #75 "The contact us form should have some styling"
The contact us form should have some styling and also have some background color or image and social media icons have some cool effect on it

Waiting for your response @himanshu007-creator, @divyashukla23.

[2021-03-15 18:21] Akibsheikh48 commented on #75
I want to contribute to this as a GSSOC'21 participant. please assign it me.

[2021-03-15 19:11] divyashukla23 commented on #75
@Akibsheikh48 done adding with labels and assigned to you. Good luck!

[2021-03-15 19:15] Akibsheikh48 commented on #75
Hey @divyashukla23, thank you for assigning the issue

[2021-03-15 21:22] bitaashna opened #76 "Typing effect on "Educate to Elevate" ""Each One Feed One" "storynama""
I would like to emphasize the the heading "Educate to Elevate" ""Each One Feed One" "storynama" by adding a typing effect on the word  using javascript. It would enhance the look and feel of the header section.
**Please assign me this issue under the label **GSSOC'21****
**I would like to contribute to it.**
![20210315_192206](https://user-images.githubusercontent.com/57864526/111223178-cea66500-8

[2021-03-15 21:31] bitaashna opened #77 "Adding dark mode to the website"
I would like to add a new feature dark and light mode switching on website so that user can use it according to their preferences
I would like to contribute to it as a part of GSSOC'21
Please assign me this issue @himanshu007-creator @divyashukla23

[2021-03-16 05:15] tanishq-arya opened #78 "UI issue: Aligning Social profiles section to center"
The last section of social profiles doesn't use the whitespaces in a manner. It can be solved by simply aligning the section to middle. Please assign me this issue under gssoc.

[2021-03-16 07:50] Subhangini commented on #71
This issue is already created and is assigned to me :)

[2021-03-16 08:15] Aryamanz29 commented on #71
ok I'm closing this

[2021-03-16 08:15] #71 closed

[2021-03-16 08:34] Elizah550 commented on #53
Heyy !!!
I can to the best wireframes to meet our requirements please assign it to me.
Thankss !!!

[2021-03-16 13:44] ShambhaviSharma0110 commented on #77
hey I'd like to work on this... please allow me...

[2021-03-16 13:44] ShambhaviSharma0110 commented on #75
hey I'd like to work on this... please allow me...

[2021-03-16 13:45] ShambhaviSharma0110 commented on #50
hey I'd like to work on this... please allow me...

[2021-03-16 13:45] ShambhaviSharma0110 commented on #52
hey I'd like to work on this... please allow me...

[2021-03-16 13:55] himanshu007-creator commented on #7
@chehak123  status report?

[2021-03-16 14:22] sudeepshukla930 commented on #72
@divyashukla23 @himanshu007-creator  .,  The source code  is little bit messy , I tried to do changes  in css files but nothing is reflecting on the home page.
Can you please guide me .

[2021-03-16 15:18] capblack222 commented on #58
Can this issue be assigned to me, I can help in writing the code as per the design for the website using HTML, CSS, JS and PHP ?

[2021-03-16 15:34] Deeks900 commented on #74
I want to contribute to this as a GSSOC'21 participant. Please assign it to me.

[2021-03-16 16:05] mohammedjameel24 opened #80 "ADD Dark Mode UI"
my portfolio: https://mohdjamil-mj.netlify.app/

[2021-03-16 18:59] aroma-sketch commented on #2
hey there, I am new to open source projects, and I would like to solve this issue as a small step, looking ahead to a response. it would be helpful @himanshu007-creator .

[2021-03-16 19:27] naqeeb2710 commented on #60
can u please assign me this issue?

[2021-03-17 08:45] Upasana1216 opened #82 "The spacing between each section on home page in not uniform and same"
I want to fix this issue. Uniformity will give a more formal and clean look to the website. Please assign this to me.

[2021-03-17 09:58] himanshu007-creator opened #83 "Label commenting bot"
check <a href="https://github.com/marketplace/actions/label-commenter#workflow-setting">this</a>. I would love to have this installed for our repo here.
I would like it to generate different messages for following labels:-

1) gssoc21
2) level0
3) level1
4) level2
5) level3
6) under review
7) changes requested

Be quick to grab this issue. To get the PR merged, do attach screen shots of this thing

[2021-03-17 10:20] Kriti-bit commented on #83
I am a GSSOC participant, I would like to work on this

[2021-03-17 10:31] himanshu007-creator commented on #83
@Kriti-bit  Best of luck, send a PR by this Saturday 5 p.m.

[2021-03-17 16:10] RahulBansal0502 commented on #75
I also want to work on this issue. Please allow me.

[2021-03-17 16:19] RahulBansal0502 opened #84 "Social Media Icons"
Wanted to change the representation of icons of social media. Please assign this issue to me. I am a GSSOC participant @himanshu007-creator @divyashukla23

[2021-03-17 18:01] mirakiii opened #85 "[Fix] Disalignment in cards"
## Disalignment in cards under projects section
This alignment is not going well with design of website , this needs  to be fix so that all three cards are aligned in same height.

![image](https://user-images.githubusercontent.com/68226051/111514394-b572f500-8777-11eb-8bae-fc3d7a9608b5.png)

I can fix this, you may assign this to me under Gssoc'21 :four_leaf_clover:
Thankyou :)

[2021-03-17 20:25] vismitap commented on #60
May I work on this issue as a part of GSSoC?

[2021-03-18 04:01] Deeks900 opened #86 "Enhancements in footer of the home Page"

[2021-03-18 04:03] Deeks900 commented on #86
I want to do some enhacements in the footer of the home page so that it can contain all the links in a more structured way and I will add some icons and effects to the links on the footer.I want to contribute as GSSOC'21 participant.So could u please assign this issue to me

[2021-03-18 04:03] Naman-12911 commented on #50
Hello i want solve this issue please assign me under GSSOC.

[2021-03-18 09:12] mansijain980 commented on #72
@himanshu007-creator @divyashukla23 I want to work on this issue from the start as i know web dev so i easily can work .
Please assign it to me.
I am a GSSOC participant .
THanks

[2021-03-18 09:18] sudeepshukla930 commented on #72
@divyashukla23  @himanshu007-creator  , I am working on the issue and i also frontend web dev ... I am continuing with my work.
Thankyou

[2021-03-18 09:29] mansijain980 commented on #7
Can u please assign this issue to me?

[2021-03-18 09:30] himanshu007-creator commented on #7
wait till saturday, the its all yours

[2021-03-18 09:33] #83 closed

[2021-03-18 09:37] #16 closed

[2021-03-18 10:10] mansijain980 commented on #17
@himanshu007-creator I would like to work on it .
Please assign it to me.
Thanks.

[2021-03-18 10:11] mansijain980 commented on #3
@himanshu007-creator sir , I want to contribute on this issue as it seems very simple . I want to make it a lil bit attractive .
Please assign it to me .

[2021-03-18 10:18] mansijain980 commented on #84
@himanshu007-creator I want to work on this issue .

[2021-03-18 13:44] Ankkkitt commented on #69
Hey, it is showing the Flickr icon on the youtube link. I would like to work on this issue. Could you please assign this issue to me?
I am a participant of GSSoC'21.
@himanshu007-creator

[2021-03-18 13:50] Ankkkitt commented on #29
I can add Name validation in Contact Us form, as now it allowed to enter numbers in the Name section. Could you please assign this issue to me?
@himanshu007-creator

[2021-03-19 05:40] RaveenaBhasin opened #88 "Enhancing the Readme.MD file by adding valuable stuff"
I would like to add the tech stacks used in the readme.md file and would like to add project admins and contributors list in the readme file to make it more attractive.
Please assign this issue to me.

[2021-03-20 11:15] aditi1403 opened #90 "Updating README.md file-spell checks #89 PR"
# Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (for multi-repository projects)

# Ex

[2021-03-20 11:16] #90 closed

[2021-03-20 11:18] aditi1403 opened #91 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to #89 PR.

[2021-03-20 11:21] himanshu007-creator commented on #91
merged

[2021-03-20 11:21] #91 closed

[2021-03-20 13:05] #26 closed

[2021-03-21 12:43] mansijain980 commented on #7
@himanshu007-creator Can i please start to work on this issue now?

[2021-03-21 12:58] Priyanshi-Sharma-142 opened #94 "making entire div clickable"
Having the entire div clickable will make it easy for the users, they don't have to click on the "read more" every time they want to open a project.

Make the entire div clickable so that they can click anywhere inside the box to open the page.

I would like to try implementing this.

[2021-03-21 12:59] Priyanshi-Sharma-142 commented on #94
I am a gssoc participant. please assign this issue to me.

[2021-03-21 14:21] Dhriti-Roy commented on #32
I would love to work on this. Kindly assigned it to me.

[2021-03-22 05:29] himanshu007-creator commented on #12
Have a look here https://drive.google.com/file/d/1ikKUpQzNumbAMJ9mNQmT69CwHLsiatVM/view?usp=sharing

[2021-03-22 05:30] himanshu007-creator commented on #1
@abhish3k-11  go ahead!

[2021-03-22 05:33] himanshu007-creator commented on #3
HI @ashi-sharma , you should work to make another PR making an admin panel, where admin can login and he/she have rights to add /remove/ modify blogs

[2021-03-22 05:34] himanshu007-creator commented on #6
@mansijain980  make it soon

[2021-03-22 05:35] himanshu007-creator commented on #7
@mansijain980 any updates?

[2021-03-22 05:36] #17 closed

[2021-03-22 05:37] himanshu007-creator commented on #18
@shairanshrawat  talk is over-rated, show us the code😉

[2021-03-22 05:37] himanshu007-creator commented on #23
This issue is not having a larger scope so closing it.

[2021-03-22 05:38] himanshu007-creator commented on #24
@satcasm  create a template and send pr

[2021-03-22 05:39] himanshu007-creator commented on #28
main concern is about simplicity of code + blog management. Can you do it alone? if yes, revert back asap @Aman1905  or @mridul-netizen

[2021-03-22 05:40] himanshu007-creator commented on #29
not needeed as of now, but will do after templates are ready.

[2021-03-22 05:41] himanshu007-creator commented on #33
already opened issue #2

[2021-03-22 05:41] #33 closed

[2021-03-22 05:41] himanshu007-creator commented on #34
it will be needed once blog management is ready.

[2021-03-22 05:42] himanshu007-creator commented on #39
@kcoder63  go ahead!!

[2021-03-22 05:43] himanshu007-creator commented on #35
leaving the blog management system, there is not much need of a backend i suppose. Correct me if i am wrong
@SnehaVeerakumar

[2021-03-22 05:46] himanshu007-creator commented on #59
@rohank2502  Go ahead
you can add html, css, js, django, php, mysql and any other that you discover

[2021-03-22 05:47] himanshu007-creator commented on #60
@rohank2502  send a pr for this by this week

[2021-03-22 05:48] himanshu007-creator commented on #66
have a look at #12

[2021-03-22 05:48] himanshu007-creator commented on #72
@sudeepshukla930  HI , please have a look at latest announcement #12

[2021-03-22 06:25] #60 closed

[2021-03-22 06:26] rohank2502 commented on #59
Ok will do in 10 mins

[2021-03-22 06:43] SnehaVeerakumar commented on #35
Adding django in backend will complete three of your website objective.
1. payment gateway integration
2. Create an admin dashboard
3. Blog uploading feature
 ➢ Images, videos, paragraphs can be uploaded by each admin without altering the source code. Each admin will have unique dashboard where they can also style their blog according to their wish. It also has the history of what admin has posted

[2021-03-22 08:56] mansijain980 commented on #7
@himanshu007-creator sir ,  i had started work on some other issue sir . i will give it to u by tomorrow evening for sure.
Thanks.

[2021-03-22 09:49] abhish3k-11 commented on #1
@himanshu007-creator first of all thank you for assigning this to me. I read the guidelines and understood it. But can you please provide the info on what you want. I was thinking of first presenting my designs and then move forward. Please provide your views on this.

[2021-03-22 11:59] manasivaraiya opened #97 "Adding social media icons in the footer with links"
I am a GSSOC'21 participant and I'd like to contribute to this. Pls assign this to me with gssoc label.

[2021-03-22 16:22] shairanshrawat commented on #18
@himanshu007-creator thanks for assigning

[2021-03-22 17:42] satcasm commented on #24
@himanshu007-creator  what did you meant by template? I was thinking of using some css to adjust the image position , so that the overlapping wouldn't be there.

[2021-03-23 07:21] #97 closed

[2021-03-23 16:30] himanshu007-creator commented on #1
yes. You need to view the present website and suggest  color scheme, layout for new website that we are planning to make,

[2021-03-23 17:31] agamjotsingh18 commented on #68
Would like to work on this issue please assign it to me ... Regards!

[2021-03-23 17:32] agamjotsingh18 commented on #86
Would like to work on this issue please assign me ?    Regards!

[2021-03-23 17:34] agamjotsingh18 commented on #73
I can take this issue and make it perfect... Regards!

[2021-03-24 04:13] Ayushgup85 commented on #75
Is this issue still open?

[2021-03-24 04:17] himanshu007-creator commented on #75
Nops.

[2021-03-24 04:17] #75 closed

[2021-03-24 05:43] zhcet19 commented on #2
@himanshu007-creator  would you please assign me this issue as a part of GSSOC' 21 .I would probably use Razorpay or Paytm to integrate with it.

[2021-03-24 13:54] sudeepshukla930 opened #98 "Contact Us Page"
Hey @himanshu007-creator  , @divyashukla23  , I want to make a new contact us page for the website.

Please assign me to issue with gssoc 2021 tags.

Thankyou

[2021-03-24 16:06] AnkushSinghGandhi commented on #7
I would like to work on this issue. can you assign this to me. I will try to complete it by tommorow.

[2021-03-24 16:22] himanshu007-creator commented on #7
@AnkushSinghGandhi  please submit a PR by tomorrow. DONT REMOVE THE BANNER AND DESCRIPTION OF NGO. rest , use your creativity.

[2021-03-24 16:25] himanshu007-creator commented on #53
@archanagandhi HI, please submit ideas for for UI,UX by this week. You can suggest color schema and wireframe of new website as well. Send 2 separate PR's 😉

[2021-03-24 16:26] AnkushSinghGandhi commented on #7
and what about contributors table

[2021-03-24 16:27] himanshu007-creator commented on #7
keep it as well👍🏽

[2021-03-24 16:27] AnkushSinghGandhi commented on #7
ohk

[2021-03-24 16:30] AnkushSinghGandhi commented on #7
can i redesign the logo of sfc

[2021-03-24 16:31] himanshu007-creator commented on #7
NOPS! we got it coevred. Just focus on anything you feel is wrong except LOGO, NGO's description, contributor's table.

[2021-03-24 16:31] AnkushSinghGandhi commented on #7
ok

[2021-03-24 18:04] #98 closed

[2021-03-24 18:04] himanshu007-creator commented on #98
will work on this after Designing is done.

[2021-03-25 01:35] IshanPiplani commented on #7
can i work on this

[2021-03-25 02:56] #7 closed

[2021-03-25 09:51] abhish3k-11 commented on #1
I'll

Okayy I'll present to you a draft design with all those things that you mentioned in 3 days at most.

[2021-03-25 14:25] Nishayadav-bit commented on #88
I  would like to work on this issue . Please assign to me

[2021-03-25 14:27] Nishayadav-bit commented on #88
Please mark the label on this issue .
I want to work on it behalf of GSSOC'21

[2021-03-25 14:28] himanshu007-creator commented on #88
@Nishayadav-bit , techstack is already added

[2021-03-25 14:28] #88 closed

[2021-03-26 00:47] archanagandhi commented on #53
Thanks for assigning this to me @himanshu007-creator sir, where can I get the new wireframe for reference?

[2021-03-26 04:50] RoliGautam opened #101 "Modification and making more attractive contact page"
I want to modify the contact page by adding some font styles, background color , changes in submit button.
Can you please assign me for this?

[2021-03-26 07:26] mansijain980 commented on #39
Can i work on it?

[2021-03-26 07:32] mansijain980 commented on #6
@himanshu007-creator i was working on a hackathon and sry for delay .....I will submit it soon.
Thanks

[2021-03-27 15:28] Kavs-123 commented on #56
hey @divyashukla23, please assign this issue to me!
I would love to work on the same

[2021-03-27 16:10] himanshu007-creator commented on #56
#12

[2021-03-27 16:10] #56 closed

[2021-03-27 16:11] himanshu007-creator commented on #53
Hi @archanagandhi , there is no wireframe as of now. I want you to suggest color pallet ( 5 color scheme ), and font suggestion for the website

[2021-03-27 16:19] jainaayush01 opened #104 "Add a CONTRIBUTING.MD file"
Add a CONTRIBUTING.MD file and also link it with the readme.md file

[2021-03-27 18:07] Anurag-0-1-A commented on #104
@jainaayush01, Do label the issues with the gssoc21 tag as per the project guidelines

[2021-03-27 18:09] jainaayush01 commented on #104
hey @Anurag-0-1-A, I am a contributor and not a project maintainer/admin/mentor for gssoc.
and i wished to create a PR for above issue.

[2021-03-27 18:10] jainaayush01 commented on #104
Since it was not assigned to me i didn't create a PR

[2021-03-27 20:49] SnehaVeerakumar commented on #3
Look into the link provided to know about my work for this project using django. https://drive.google.com/drive/folders/1TsQ0l-NGlhbgtonAMpDrwSRIcxGKLqVA?usp=sharing The landing page will be of your choice, I will just link frontend to my codebase. If the initial idea is fine, I can add more features such as providing an option to style the words in blog, uploading bluk images/videos, sending emai

[2021-03-28 01:13] Dhriti-Roy commented on #104
I'm a Participant in GSSOC'21. I am interested in contributing in the above issue. Kindly assign me this issue.

[2021-03-28 01:14] Dhriti-Roy commented on #101
I'm a Participant in GSSOC'21. I am interested in contributing in the above issue. Kindly assign me this issue.

[2021-03-28 05:10] RubenFalcao14 opened #106 "Adding arrow to the sliding images"
![IMG_20210328_103653.jpg](https://user-images.githubusercontent.com/79042516/112743065-a5e28000-8fb1-11eb-8019-0fa0875104b0.jpg)
I would like to add arrows to the sliding section and remove the thing that is currently there if someone wants to manually go back and forth .

[2021-03-28 05:10] RubenFalcao14 commented on #106
I'm a GSSOC'21 participant and I would love to work on it .
Thank You

[2021-03-28 09:56] himanshu007-creator commented on #3
Hi @SnehaVeerakumar , you have really done a great job. , this is truly your issue✨

[2021-03-28 10:30] himanshu007-creator opened #109 "link to CONTRIBUTING.md missing😐"
in <a href="">Readme.md</a> file, there is a problem. The href tag is there in line 34, but it points to <code>#</code>
it should point to <code>https://github.com/himanshu007-creator/SFC-foundations/blob/master/CONTRIBUTING.md</code>.
so fix this🙂

[2021-03-28 10:37] himanshu007-creator commented on #106
Hi @RubenFalcao14 , i appreciate your advice, but we are NOT GOING TO MAKE any changes in old website, but going to create a new one!.
so try to solve issues with label gssoc🙂.
looking forward for your contributions.
you can try <a href="https://github.com/himanshu007-creator/SFC-foundations/issues/109">this</a> for now

[2021-03-28 10:37] #106 closed

[2021-03-28 10:39] RubenFalcao14 commented on #109
Hii, I'm a GSSOC'21 participant and I would love to fix the issue.

[2021-03-28 10:40] himanshu007-creator commented on #109
send a PR real soon😉

[2021-03-28 10:48] Nishayadav-bit commented on #109
Hey @himanshu007-creator ,I would like to work on this issue . Please assign to me .
I'm a participant in GSSOC'21.

[2021-03-28 11:35] RubenFalcao14 commented on #109
I have made the pr , is it done or do I have to do anything more ?

[2021-03-28 11:38] himanshu007-creator commented on #109
have a look <a href="https://github.com/RubenFalcao14/SFC-foundations/pull/1">here</a> in the comment, i have told you what you need to do

[2021-03-28 13:21] himanshu007-creator commented on #109
jobdone

[2021-03-28 13:21] #109 closed

[2021-03-28 14:02] #35 closed

[2021-03-28 18:04] subhasmitapradhan commented on #101
I would love to help @RoliGautam with this issue.

[2021-03-28 18:51] #58 closed

[2021-03-29 03:41] #38 closed

[2021-03-29 07:15] himanshu007-creator commented on #1
@abhish3k-11  please send a draft by tomorrow, or this issue will be assigned to someone else.

[2021-03-29 07:15] himanshu007-creator commented on #6
doesn't work

[2021-03-29 07:15] #6 closed

[2021-03-29 07:16] himanshu007-creator commented on #49
sorted

[2021-03-29 07:16] #49 closed

[2021-03-29 07:16] himanshu007-creator commented on #53
inactive

[2021-03-29 07:16] #53 closed

[2021-03-29 07:17] #72 closed

[2021-03-29 07:21] himanshu007-creator opened #112 "Create homepage"
Create an alternate to homepage which is at present <a href="http://sfcfoundations.com/">this</a>
Use <a href="https://github.com/himanshu007-creator/SFC-foundations/tree/master/Design/Homepage">this</a> file to get the design

techstack:- HTML/CSS/JS only.

Deadline :- 10 days

requirements. Create page with transactions and stuff. You also need to add a theme toggler at the top of the page.
make

[2021-03-29 11:12] deeptea22 commented on #112
Hey i would like to work on this issue. Please assign this to me as a part of GSSoC'21. Thank you :)

[2021-03-29 11:16] CMELAKKIA commented on #112
Please assign me this issue as I can make good UI/UX design for your home page.

[2021-03-29 11:20] SnehaVeerakumar commented on #112
I would be happy if @himanshu007-creator assigns @CMELAKKIA  this issue. As she is my best friend we can keep track of both frontend and backened and develop this project to next level. Also @CMELAKKIA is good in frontend part. I have worked with her personally in University projects 🙂 Just a suggestion @himanshu007-creator

[2021-03-29 16:24] 1502shivam-singh commented on #112
Okay, instead of assigning randomly and creating a slug-fest for assignments, let's do something different this time.
Start working who wants to work. One who finishes earliest and has output nearest to the mockup in the deadline, will get the ticket.
Keep note of this thread while working, and whoever completes make a PR to this issue and tag us for faster response.

**And I would prefer this in

[2021-03-29 16:36] himanshu007-creator commented on #112
Hi, we are asking to build to home page( code obviously ) designs are already there.

[2021-03-29 16:37] 1502shivam-singh commented on #112
And @SAHU-01 could you put those images in a Figma board and share it. Going through a GitHub repository again and again would be cumbersome for others and then I can also leave exact comments based on elements in the design.

[2021-03-29 16:37] himanshu007-creator commented on #112
Yes, proceed as mentioned.

[2021-03-29 17:10] SAHU-01 commented on #112
sure shivam I'll do that right away and i'll share the link here, so that the people who are going to work on the code can refer to it.

[2021-03-29 17:38] SAHU-01 commented on #112
here is the link to the figma project :

https://www.figma.com/proto/YzTe1JXho4W9DwcM2LLXRp/Untitled?node-id=16%3A34&frame-preset-name=Desktop&scaling=min-zoom&page-id=0%3A1

Let me know if the codeing team needs those same set of images that i've used , then i'll share those as well.

And i've kept it as view only mode so ,if somebody wishes to make edits let me know i'll exclusively give access

[2021-03-29 18:55] 1502shivam-singh commented on #112
I just left some comments, please check.
And if you are interested in coding the frontend part, do try this issue. Check my above comment for some background.

[2021-03-30 03:07] SAHU-01 commented on #112
Shivam for the logo, this is the 7th time I'd be changeing its size, its like once you tell me reduce it, himanshu asks me to increase it , so i guess it would be better if the three of us can go for a discord meeting and i'll share my screen live and make the logo and navbar sizeing their , so that once and for all we can fix the sizes.

Yup the textual format other than the "Be the change font "

[2021-03-30 03:51] subhasmitapradhan commented on #112
it would be great @SAHU-01 if you could share the link for images used. It would be easy for us to work.

[2021-03-30 03:53] himanshu007-creator commented on #112
you can discuss all details with @1502shivam-singh , but KEEP THE LOGO medium sized, not small

[2021-03-30 05:50] abhish3k-11 commented on #1
This is wireframe (information layout). If you want to give advice on something, its most welcome. If you like it then please say so and after your comment I'll provide color scheme and fonts to be used (because first I wanna know your views on design)

![Web 1920 – 2](https://user-images.githubusercontent.com/67673898/112939723-985ffe00-9149-11eb-8126-7ba509266e21.png)

[2021-03-30 05:52] abhish3k-11 commented on #1
It'll only take an hour or so to complete the small details so don't fret over that for now. If you like it, I'll do that in half a day.

[2021-03-30 06:50] mansijain980 commented on #72
can i?

[2021-03-30 08:17] Ruchip16 commented on #104
Can I work on this issue ?

[2021-03-30 09:02] K-jais opened #113 "Add Light Dark Mode"
I can Add Light Dark Mode to all of the pages which adds another feature to this website and which just gives two choices to the user as whats its preferable UI is either light or dark.

[2021-03-30 09:05] himanshu007-creator commented on #113
Thats a needed feature, bit first of all we need to make need to make new home page, and then all rest pages. After that , this will be considered

[2021-03-30 09:13] K-jais commented on #113
So sir, is the part that has already been made in the repository need to be changed completely?

[2021-03-30 09:56] oneknucklehead commented on #113
@himanshu007-creator About the home page, do we have to make a Home page from scratch? and even if we did make the home page, what are the chances of it being selected, I mean there must be other people also who have made the homepage UI but what I wanted to ask is, is there a selection criterion or procedure? #help

[2021-03-30 10:44] SAHU-01 commented on #112
/cc @1502shivam-singh  Lets set up a meet up then, do let me know when you are free

/cc @subhasmitapradhan  and other participants here is the folder with all images, and for the planet photograph thing you can head on to canva it provides a photograph frame in the elements selction, if any of you still find it difficult to make those photograph type of things for hero caroursel or need any desig

[2021-03-30 11:03] 1502shivam-singh commented on #112
Okay then, I understand. Let it the circular thing in logo stay as it is for now, while I discuss.
No need for a meet for now I suppose, I will tell when its needed don't worry.

[2021-03-30 11:21] 1502shivam-singh commented on #112
But why exactly @himanshu007-creator? If its told to you from the foundation's side then ya it makes sense, can't really help it then (well, actually can be done if you discuss with them what I am going to write below, but its your choice). But if not then I really want to know the reason for it to stay as is.
You see, the circle in the logo (I mean "circle+text") overflows the text baseline in th

[2021-03-30 19:24] RahulBansal0502 opened #116 "Revamp Events Page"
The event page is so simple and static and also UI is also not so attractive. I want to revamp it. @himanshu007-creator @divyashukla23 Please assign this issue to me. I am a GSSOC 2021 participant.

[2021-03-31 11:15] 1502shivam-singh commented on #116
Hey @RahulBansal0502, I would prefer that you first propose a wireframe or maybe a mockup for the events page. Do know that we are receiving multiple designs for the same page, so we have to compare your designs with the other one's before selecting it.

Make a PR with the event page mockup, and tag me or other mentors for review.

If you want to code the UI, then please wait a few days before we

[2021-03-31 11:24] Malvika18 commented on #101
can i work on this.

[2021-03-31 12:07] RahulBansal0502 commented on #116
ok

[2021-03-31 14:01] himanshu007-creator opened #117 "Add new branches"
In readme.md line 5 add
<code>SFC has set up two more units (JALANDHAR,MUMBAI)✨</code> and then leave a blank line below it

[2021-03-31 14:02] Nishayadav-bit commented on #117
Hey , I would like to work on this issue , please assign to me.

[2021-03-31 14:03] Nishayadav-bit commented on #117
Hey , I would like to work on this issue , please assign to me.

[2021-04-01 06:31] adysis14 commented on #104
hello !  I am interested in contributing in the above issue. Can you please assign this issue to me?

Thank You

[2021-04-01 16:58] dhruvdy commented on #84
@himanshu007-creator can you please assign this to me. I want to work on these social media icons

[2021-04-01 18:25] CMELAKKIA commented on #112
Within three days I have coded for the following output. Before SFC FOUNDATIONS, I will add logo once it is finalized. Kindly assign me this issue so that I can confidently proceed with my works for home page.
![SFC frontend](https://user-images.githubusercontent.com/76167557/113337214-19cfb000-9345-11eb-82d4-7c86729bf01a.jpeg)

[2021-04-01 19:58] bug-debug-done opened #119 "In navbar proper alignment is not there in the left side. It does not look good."
![Screenshot from 2021-04-02 01-24-52](https://user-images.githubusercontent.com/75927761/113347171-6b326c00-9352-11eb-8eea-95dd5e6b6fd3.png)
the logo should be at the center of the "SFC FOUNDATIONS"

[2021-04-01 20:01] bug-debug-done opened #120 "The button that navigate to the top of the page should have a arrow sign."
![Screenshot from 2021-04-02 01-29-43](https://user-images.githubusercontent.com/75927761/113347747-412d7980-9353-11eb-8aa7-b5ee23b25edc.png)
the button on bottom of the page on right side.
please assign me this issue.

[2021-04-01 20:02] bug-debug-done commented on #120
![Screenshot from 2021-04-02 01-29-43](https://user-images.githubusercontent.com/75927761/113347720-34a92100-9353-11eb-87dc-b2586305ab3a.png)

[2021-04-01 20:06] bug-debug-done opened #121 "Photos and text are not aligned properly"
![Screenshot from 2021-04-02 01-34-13](https://user-images.githubusercontent.com/75927761/113347960-95d0f480-9353-11eb-9bbf-bf207c35fbdf.png)
I will align the photo and text.

[2021-04-01 20:07] Mrinal81 opened #122 "Redesign The Recognition Part"
![Screenshot from 2021-04-02 01-34-55](https://user-images.githubusercontent.com/76482022/113348254-ffe99980-9353-11eb-9631-a664037a1162.png)

[2021-04-01 20:09] Mrinal81 opened #123 "Redesign the Footer part"
![Screenshot from 2021-04-02 01-39-02](https://user-images.githubusercontent.com/76482022/113348477-40491780-9354-11eb-8d37-999134ba9c08.png)

[2021-04-01 20:11] bug-debug-done opened #124 "I will create the complete website from scratch using HTML,CSS and Js."
I will create the same website using HTML,CSS and Js. I will create different file for each of them. I will also store the images in Image folder. It will help in further development.

[2021-04-01 20:14] Mrinal81 opened #125 "Photos are not Align in Events Page I will Align the image in Events"
![Screenshot from 2021-04-02 01-42-39](https://user-images.githubusercontent.com/76482022/113348894-d2512000-9354-11eb-9eb5-7a4fc400f506.png)

[2021-04-02 04:49] deeptea22 commented on #112
hey @1502shivam-singh @himanshu007-creator  This is my progress so far(the footer still needs to be completed), based on the design you have provided.
Will be finishing the remaining parts soon.
![Screenshot (238)](https://user-images.githubusercontent.com/67323371/113381511-c2f5c500-939c-11eb-88dc-a3313e76b950.png)
![Screenshot (239)](https://user-images.githubusercontent.com/67323371/113381520-c

[2021-04-03 06:33] n-coder2k opened #126 "Adding Place holder in contact form"
I would like to add placeholder  in contact form.
I am gssoc participant please assign me this issue.

[2021-04-03 14:10] pk-2345 commented on #120
Hey ! @himanshu007-creator  can you please assign me this issue.

[2021-04-03 17:38] Sejal260 commented on #121
I can align the image and text properly.

[2021-04-03 17:43] Sejal260 commented on #123
I will redesign the footer part

[2021-04-03 18:58] vatsalar commented on #101
I am interested in contributing to the above issue. Kindly assign me this issue.

[2021-04-03 20:06] starrohan999 opened #127 "ADD little Changes in Project section context."
# Problem
I actually found a small thing while reading the project section that read more is not that bold. it should be bold visitors can easily check it out.

# Before image
![before](https://user-images.githubusercontent.com/71714344/113490153-f42ddc80-94e5-11eb-8eb3-32b6dbf88d2f.jpg)

# After Image
![after](https://user-images.githubusercontent.com/71714344/113490158-fee87180-94e5-11eb-8f35-4d

[2021-04-03 20:08] starrohan999 commented on #127
@himanshu007-creator sir, please assign to me this task.  i am gssoc'21 participant.

[2021-04-03 20:32] mansijain980 commented on #112
@himanshu007-creator i want to use carousel in it .with some attractive ideas . Please assign it to me.

[2021-04-03 21:40] 1502shivam-singh commented on #112
@CMELAKKIA good work, but this is not in accordance with the design that was proposed. Please refer to Figma link mentioned in above comments for the proposed mockup.
You can either work on modifying this to match the proposed design or wait for sometime until we have some base code to work on. You (as well as others) can then work on modifying this base code structure to bring changes to the exis

[2021-04-03 21:42] 1502shivam-singh commented on #112
Good work @deeptea22, proceed to create other sections.

[2021-04-03 21:56] 1502shivam-singh commented on #112
@mansijain980, please clarify where you want to use carousel, using some mockups if possible.
Currently we are focusing or creating a base code structure according to design proposed by one of the participants (Link to mockup in above comments)
If you want to you can start by working on coding this design and sharing your work in this thread when completed to some extent, so that we can review you

[2021-04-04 00:20] akshay1027 opened #128 "Links in the readme to open in a new tab"
# Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Ex

[2021-04-04 04:36] SAHU-01 commented on #112
Hi mansi there are 3 carousel used already  in my design , if you go through the design , there is also an accordian carousal apart from the genearally used carousals.

[2021-04-04 13:56] AasthaCodex opened #129 "Hover Selector Property"
I would like to add hover selector property over
who we are
our mission
our goal
Please assign it to me, It will look good.
<img width="879" alt="website" src="https://user-images.githubusercontent.com/72413064/113511061-95b33d80-957b-11eb-8d82-e3e4d7cb52c6.PNG">

[2021-04-05 09:48] SahityaRoy commented on #112
SIR I WANT TO CONTRIBUTE PLEASE ASSIGN ME  THIS TASK

[2021-04-05 16:25] srishtij2000 commented on #1
Can I work on this issue?

[2021-04-05 19:40] mansijain980 commented on #112
@himanshu007-creator sir i want to contribute in this and create attractive  homepage from beginning.
PLease assign it to me.
Thanks.

[2021-04-05 21:10] 1502shivam-singh commented on #112
Please read this 👆 and this 👇 if you want to contribute

And @deeptea22 how's your progress, make a PR when you are done, and tag me for a review.

[2021-04-06 03:48] deeptea22 commented on #112
@1502shivam-singh I'm almost done (90% finished) I will do the PR by today or tomorrow. Thanks :)

[2021-04-06 13:19] anirudhsai20 opened #132 "Readme file enhancement"
# Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

The

[2021-04-06 13:20] anirudhsai20 commented on #132
Hi! Please assign this issue to me under GSSOC.

[2021-04-07 12:45] simranbhalla3 commented on #129
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:45] simranbhalla3 commented on #127
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:45] simranbhalla3 commented on #126
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:47] himanshu007-creator commented on #129
hi @simranbhalla3 , new template for website is going to be uploaded soon, so be prepared to work on it. We wont be looking on issues with old website code. Have a look @ #12

[2021-04-07 12:47] #129 closed

[2021-04-07 16:18] himanshu007-creator commented on #123
the issue will be addressed soon as homepage template is about to be added.

[2021-04-07 16:28] Sejal260 commented on #123
Okay

[2021-04-08 04:24] himanshu007-creator commented on #2
sure, go ahead!

[2021-04-08 07:36] #112 closed

[2021-04-08 11:53] himanshu007-creator opened #137 "Fix the relevance attribute"
go to <code>index.html</code>
in line <a href="https://github.com/himanshu007-creator/SFC-foundations/blob/92855a6f43095ebbb28247d18f47ac2712d64368/index.html#L17">17</a>, change the following code.
<code>rel="text/css"</code>
 to
<code>rel="stylesheet"</code>

[2021-04-08 12:20] shairanshrawat commented on #137
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021
Thank you.

[2021-04-08 12:21] himanshu007-creator commented on #137
go ahead!!

[2021-04-08 13:24] #137 closed

[2021-04-09 07:14] nidhivanjare opened #139 "Enhance the footer section"
I want to change the UI of the footer section.
- Add iframe for map ---> address

I am a GSSOC'21 participant and would like to work on this issue.

[2021-04-09 07:15] himanshu007-creator commented on #139
attach an SS

[2021-04-09 07:16] nidhivanjare commented on #139
Something like this :
<img width="676" alt="Screenshot 2021-04-09 at 12 45 44 PM" src="https://user-images.githubusercontent.com/55665104/114143232-82b0bc80-9931-11eb-8b57-b8df83c6d3d4.png">

[2021-04-09 07:17] himanshu007-creator commented on #139
make these changes index.html

[2021-04-09 07:19] nidhivanjare commented on #139
Sure , thanks

[2021-04-09 07:21] himanshu007-creator commented on #139
ok

[2021-04-09 16:22] Rajashri14 commented on #126
I want to work on this issue. Please assign me this issue.

[2021-04-10 05:05] Aditya201551 opened #140 "[BUG] [GSSOC' 21] Contact us link not working on navbar at index.html page of the website"
On clicking the contact us button on the navbar the link does not take the user to the bottom of the page like other links, reference screenshot is added below:

![Screenshot 2021-04-10 103402](https://user-images.githubusercontent.com/32588231/114258987-4d1ada80-99e8-11eb-888e-c48b084e4a73.png)

@himanshu007-creator

[2021-04-10 12:28] zhcet19 commented on #2
@himanshu007-creator  for payment gateway integration using Razorpay i have to first create an account of SFC Foundations
on razorpay which we demand email verification so can i create a payment button from my account or  you have to first create an razorpay account of this foundation on razorpay

[2021-04-10 14:26] rohank2502 opened #142 "Deploy SFC website on Github pages"
If you want to know what exactly I am saying please visit this https://rohank2502.github.io/SFC-foundations/  I have deployed this website on GitHub pages of my version.

[2021-04-10 14:28] #139 closed

[2021-04-10 14:28] rohank2502 opened #143 "Update Read me"
As we are ready with a website which is not based on WordPress now we should make changes in our readme so people will get to that some work is done and they can give their valuable contribution I will like to work on this issue! If needed I will discuss with the mentor what to include and what to not! will start work after the assignment!

[2021-04-10 14:29] rohank2502 opened #144 "Create Issue template"
I will like to make 2 issue templates 1. BUG 2. FEATURE REQUEST 3. DOCUMENTATION will start work as soon as I get assigned !

[2021-04-10 14:31] himanshu007-creator commented on #144
just make a simple, all-in-one issue template, like include BUG/FEATURE?DOCUMENTATION check boxes in it

[2021-04-10 14:32] rohank2502 commented on #144
Ok will but I this we can make bug different so we can work on it more quick than a new feature

[2021-04-10 18:57] Harshit-Pathak opened #145 "Social media icons with their respective colors on hover under social profiles"
<h3>Issue:</h3>
At present the color change on hovering over social media icons under Social Profiles is yellow for all

<h3>Enhancement:</h3>
Wanted to add respective colors to social media icons on hovering under Social Profiles<br>

Please assign me this issue as a gssoc'21 participant

[2021-04-11 05:21] rohank2502 commented on #144
@himanshu007-creator

[2021-04-11 06:46] avinashjha1320 opened #146 "Contact Us Page"
@himanshu007-creator @divyashukla23 I want to build contact us page where user can provide their detail. Can you please assign this task to me

[2021-04-11 07:15] avinashjha1320 opened #147 "Blog Page"
@divyashukla23 @himanshu007-creator I want to create the Blog Page for the site, where all blogs will be listed, and by clicking on an article the blog will open with a comment section below it. Can you please assign this task to me?

[2021-04-11 07:36] ineffable23 commented on #146
This issue already exists.

[2021-04-11 07:37] ineffable23 commented on #147
This issue already exists.

[2021-04-11 07:41] avinashjha1320 commented on #146
@ineffable23 But nobody has made the page as I can't see any contact us page in the repository

[2021-04-11 07:41] avinashjha1320 commented on #146
Only the home page is there

[2021-04-11 12:23] rohank2502 opened #148 "Update Footer"
![Screenshot 2021-04-11 175335](https://user-images.githubusercontent.com/76584243/114304066-db798400-9aee-11eb-961b-e68e26033707.png)

Will like to add address and other things then will also like to include month and year of website creation this will remain as a memory to all  of us

[2021-04-11 12:29] rohank2502 opened #149 "change the logo of DARK mode toggle"
![Screenshot 2021-04-11 175838](https://user-images.githubusercontent.com/76584243/114304203-930e9600-9aef-11eb-9e50-aa87df737734.png)

Will like to change this toggle button to one which is standard I will like to add like DARK Mode and the button

[2021-04-11 12:38] rohank2502 commented on #146
If so please close the issue

[2021-04-11 12:38] rohank2502 commented on #147
If so please close the issue

[2021-04-11 13:16] himanshu007-creator commented on #140
Yes , it's a feature,not a bug. Because contact form is under development right now.

[2021-04-11 14:37] Aditya201551 commented on #140
@himanshu007-creator okay, so should i close this issue then?

[2021-04-11 14:55] himanshu007-creator commented on #140
Yes😅 but I am really looking for another PR from your side mate! Best of luck ⚡

[2021-04-11 15:02] Aditya201551 commented on #140
sure I will be creating a new issue now!

[2021-04-11 15:02] #140 closed

[2021-04-11 18:30] Aditya201551 opened #150 "[ENHANCEMENT] [GSSOC' 21] Making new good looking button for dark mode"
![Screenshot 2021-04-11 235628](https://user-images.githubusercontent.com/32588231/114316613-ebf72200-9b21-11eb-8796-fd043c6de46d.png)

![Screenshot 2021-04-11 235718](https://user-images.githubusercontent.com/32588231/114316625-f1546c80-9b21-11eb-9e13-254dc7b8ff0d.png)

@himanshu007-creator

[2021-04-11 19:37] Aditya201551 commented on #150
@himanshu007-creator I have added the feature, it can be deployed as soon I am assigned

https://user-images.githubusercontent.com/32588231/114318574-37fa9480-9b2b-11eb-82f6-75d3cd5ee335.mp4

[2021-04-11 19:56] sejalvasan commented on #2
Can I work on this issue as a part of Gssoc'21? @himanshu007-creator
i will be using razorpay

[2021-04-12 02:15] rohank2502 commented on #150
I have already created issue

[2021-04-12 04:01] Aditya201551 commented on #150
But I have already created the feature, well it's up to @himanshu007-creator now

[2021-04-12 04:22] rohank2502 commented on #150
Was you assigned or told by him to do that task ?

[2021-04-12 04:27] SAHU-01 commented on #149
//cc @rohank2502  would you like to have a new Dark button design or like you want an entire dark mode featture for the webpage andd that we have to design that page.
I'd like to take up this issue I'll add a demo design below let me know if it's to your liking.

[2021-04-12 04:34] rohank2502 commented on #149
Sorry but I created this issue to work on this !

[2021-04-12 04:37] Aditya201551 commented on #150
nope but I just made a new issue

[2021-04-12 04:38] SAHU-01 commented on #149
OO I'm so sorry!

[2021-04-12 04:49] rohank2502 commented on #150
Please keep in mind don't work on issue until u are assigned this is not
way to work 👍🏻

On Mon, Apr 12, 2021, 10:07 AM CrispyWrecker ***@***.***>
wrote:

[2021-04-12 04:55] Aditya201551 commented on #150
@rohank2502 thank you for teaching me what to do and what not to, I just added this feature in my local system and its so simple feature that it took just few lines of code to add so I added this to my local code(its not even pushed to origin) as I wanted to see how it would look so you can work according to your ethics and let me do whatever I want 💀

[2021-04-12 05:08] rohank2502 commented on #149
Its fine no issues :)

[2021-04-12 05:17] SAHU-01 opened #151 "Founders and Objective page Design"
I would like to design the founders and objective page of the website

[2021-04-12 05:18] himanshu007-creator commented on #150
@Aditya201551 and @rohank2502  chillax guys, you both are correct in your own explanations.  Rohan had created the issue earlier . Going by the good opensource practice, it is advised to follow a sequence of steps to cater to everyone's needs. We need to be inclusive
1) before opening an issue , try to see if its already there or not
2) after creating an issue, wait for admin to assign it to you (

[2021-04-12 05:18] #150 closed

[2021-04-12 05:20] rohank2502 commented on #150
Thanks !!
and sorry @Aditya201551

[2021-04-12 05:20] Aditya201551 commented on #150
@himanshu007-creator sure, I understood

[2021-04-12 05:20] himanshu007-creator commented on #2
@zhcet19 , sorry but your response time led to this, you can work on other issues!.
@sejalvasan you can start your work

[2021-04-12 05:21] rohank2502 commented on #149
Please assign the issue

[2021-04-12 05:24] rohank2502 commented on #142
@himanshu007-creator  I will like if you take this issue on urgent basic this will help everyone of us

[2021-04-12 05:26] himanshu007-creator commented on #142
Yeah, will do that soon, but currently we are having some internal discussions about this , so its on  hold. But in till this month end, will surely do

[2021-04-12 05:26] #142 closed

[2021-04-12 05:30] rohank2502 commented on #142
Ok !

[2021-04-12 05:31] rohank2502 commented on #144
Should I go up with single issue template or I think making 3 will be more convenient like bug feature and documentation as per my view lets get this final will work as you guide

[2021-04-12 05:35] himanshu007-creator commented on #144
single one  with category checkbox in starting that include
- [x] BUG
- [x] FEATURE
- [x] DOCUMENTATION

[2021-04-12 05:40] rohank2502 commented on #144
Okok got it

[2021-04-12 05:47] zhcet19 commented on #2
@himanshu007-creator  i had raised an comment regarding clarification on this issue 2 days earlier but instead of clearing that you are unassigning me this makes no sense.

[2021-04-12 18:48] #144 closed

[2021-04-12 22:41] 1502shivam-singh commented on #146
@avinashjha1320 please refer to #115.
You can contribute your thoughts there, even though its already assigned.
Check #12 for some open issues.

[2021-04-13 04:25] SAHU-01 commented on #10
//cc @himanshu007-creator  we can make a plan chart as well as a git kanban board for the project so that even the participants lnow which tasks have been assigned and which issues they can work on,Let me know if you want a kanban board I can make that for the this project

[2021-04-13 05:08] #147 closed

[2021-04-13 05:09] #146 closed

[2021-04-14 03:32] rohank2502 commented on #148
@divyashukla23

[2021-04-14 03:33] rohank2502 commented on #143
@divyashukla23

[2021-04-14 05:51] #149 closed

[2021-04-14 06:22] Rohan27s opened #155 "Dark/Light Mode Image Loading Error"
## Issue Type:
[ ! ] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

- There is bug in loading Dark/Light mode changing image

## **Possible solution**

- I have knowledge of this issue and can solve it. So I would like to work
on this issue under GSSOC21

## **Screenshots**
![image](https://user-images.githubusercontent.com/74227860/114663217-95533900-9d17-11eb-811b-9

[2021-04-14 07:01] rohank2502 commented on #143
Please assign /

[2021-04-14 07:02] rohank2502 commented on #155
Solved this issue please check  !! @Rohan27s

[2021-04-14 07:21] himanshu007-creator commented on #148
Will update you soon!

[2021-04-14 07:29] rohank2502 commented on #148
👍🏻

On Wed, Apr 14, 2021, 12:51 PM Himanshu ***@***.***> wrote:

[2021-04-14 07:50] arpit456jain opened #157 "Smooth Scrolling in website"
## Issue Type:
[x] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**
As of now scrolling is very fast which is not looking good

## **Possible solution**

It should be little bit slow , it will look pretty nice

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-04-14 07:51] arpit456jain opened #158 "[Gssoc21] Back to top button"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

There is no back to top button

## **Possible solution**

I would like to add a back to top button which will scroll to top automatically

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-04-14 07:56] arpit456jain opened #159 "[Gssoc21] News section is not responsive"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

<img width="960" alt="sfc" src="https://user-images.githubusercontent.com/55352601/114674543-f6353e00-9d24-11eb-9b34-7b914a94c49b.png">

[2021-04-14 08:01] arpit456jain opened #160 "[Gssoc'21] Preloader is not responsive in mobile view"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

https://user-images.githubusercontent.com/55352601/114675100-83789280-9d25-11eb-80bd-858d8aca93a2.mp4

[2021-04-14 10:13] nidhivanjare opened #162 "NightMode Icon Bug"
## Issue Type:
- [x] Bug Report
- [ ]  Feature Request
- [ ] Documentaion

## **Describe the bug**

- If the user clicks the night mode button once the icon disappears forever until we reload it. I would like to fix it.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

<img width="1399" alt="Screenshot 2021-04-14 at 3 38 53 PM" src="https://user-images.githubuser

[2021-04-14 10:18] rohank2502 commented on #162
@nidhivanjare  I made few changes today but they were showing link in broken I have fixed them please check it from my fork or you can directly check from my deployment https://rohank2502.github.io/SFC-foundations/ if it still shows broken let me know and if it working please close the issue

[2021-04-14 10:20] rohank2502 commented on #160
Cool, I think changing size units will work! @himanshu007-creator assigns him the issue if he completes it's great else I will take this!

[2021-04-14 10:36] nidhivanjare commented on #139
Hey, I received a mail from Rohan Kulkarni regarding the link broken issue.
The link for the iframe is generated by
-> go to google maps
-> type the address that you want to show on the website.
-> click share and select "Embed a Map"
-> copy the HTML link and replace it with my code.

[2021-04-14 10:36] nidhivanjare commented on #162
The link is working fine !!
If you want to change the address in the link you have to

The link for the iframe is generated by
-> go to google maps
-> type the address that you want to show on the website.
-> click share and select "Embed a Map"
-> copy the HTML link and replace it with my code.

[2021-04-14 11:30] rohank2502 commented on #162
I don't get why u said  If you want to change the address in the link you have to

[2021-04-14 14:21] nidhivanjare commented on #162
The link in the iframe will change according to the address.
There will be a different link for different adress. So I thought you want to change the address on the website.

[2021-04-14 16:49] shrishti-c opened #163 "Adding google map feature on foundation's website"
## Issue Type:
Feature Request

## **Describe the bug**

It is really important to have the Google Maps Platform set up for websites to ensure your website is being seen on the web through Google's search engine.

## **Possible solution**

Adding a Google Map with a Marker to Your Website bookmark.

[2021-04-14 16:53] shrishti-c opened #164 "Enhance Contact form, footer and social profile section of website"
Turning the ui of wesbite into a mesmerizing one.

[2021-04-14 16:54] himanshu007-creator commented on #162
snorted
i mean sorted #161

[2021-04-14 16:54] #162 closed

[2021-04-14 16:59] himanshu007-creator commented on #160
cool, send a PR for this one

[2021-04-14 17:00] himanshu007-creator commented on #159
@arpit456jain  nice, you can work on this, send a PR . Discuss this here with @SnehaVeerakumar

[2021-04-14 17:00] himanshu007-creator commented on #158
not needed rn, but will consider for future

[2021-04-14 17:00] #158 closed

[2021-04-14 17:00] shrishti-c commented on #163
@himanshu007-creator  This would be great for SEO of website

[2021-04-14 17:01] himanshu007-creator commented on #157
<code>
html{
  scroll-behavior: smooth;
}
</code>
You mean this right?

[2021-04-14 17:02] arpit456jain commented on #160
@himanshu007-creator kindly assign me this issue under GSSoC'21 .
I will make a pr in an hour

[2021-04-14 17:02] arpit456jain commented on #157
Yes

[2021-04-14 17:12] arpit456jain commented on #157
@himanshu007-creator kindly review my PR and add these same labels to it before merging

[2021-04-14 17:13] #157 closed

[2021-04-14 17:14] arpit456jain commented on #157
thanks @himanshu007-creator .
I will make a Pr for preloader in sometime

[2021-04-14 17:19] SnehaVeerakumar commented on #159
@arpit456jain I can fix it, thank you for spotting it out. Can you raise an issue regarding a separate page for any of the section in navigation bar !!
That would be really helpful.

[2021-04-14 17:54] arpit456jain commented on #160
@himanshu007-creator kindly review my PR

[2021-04-14 17:55] #160 closed

[2021-04-15 04:38] #143 closed

[2021-04-15 04:42] rohank2502 commented on #164
@shrishti-c  Already issue is there for footer please check

[2021-04-15 04:43] rohank2502 commented on #132
@anirudhsai20  This issue is solved If you still like to do changes  in updated read me file please let us know here

[2021-04-15 04:44] rohank2502 commented on #128
#143 Solved

[2021-04-15 04:53] arpit456jain commented on #159
I can make a separate page for contact section

[2021-04-15 04:56] arpit456jain opened #168 "Make toggle button action smooth"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**
As you can see in picture the toggle button is not looking good in dark mode because of its white background
<img width="960" alt="sfc tg" src="https://user-images.githubusercontent.com/55352601/114815937-d78e8000-9dd4-11eb-8ffa-dbb0f21cb947.png">

## **Possible solution**

I can replace it with this
<im

[2021-04-15 04:58] himanshu007-creator commented on #168
Button is fine, you can work on the animation part, make it smooth , rather than abrupt. theme transition should also be smooth

[2021-04-15 04:59] rohank2502 opened #169 "Feed.png is unresponsive at mob version"
## Issue Type:
[ x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

The size of feed .png is large than required

## **Possible solution**

We can use responsive units

## **Screenshots**

![Screenshot 2021-04-15 102908](https://user-images.githubusercontent.com/76584243/114816254-66030180-9dd5-11eb-87bf-536bc4882d6f.png)

[2021-04-15 04:59] rohank2502 commented on #169
@himanshu007-creator  Will like to fix this!

[2021-04-15 04:59] himanshu007-creator commented on #169
@SnehaVeerakumar  she will work it, its her call

[2021-04-15 05:00] #128 closed

[2021-04-15 05:03] rohank2502 commented on #169
OK no Issues was there any issue for this ?

[2021-04-15 05:09] SnehaVeerakumar commented on #169
@rohank2502 can work on this issue.

@himanshu007-creator please assign him.

[2021-04-15 05:11] SnehaVeerakumar commented on #159
"About us" page please. Level-3 can be given for that.
Contact us is already in progress

[2021-04-15 05:11] rohank2502 commented on #169
Ok, Thanks!

[2021-04-15 05:12] rohank2502 opened #170 "Add pages for 3 Project"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Add Pages for Our 3 Projects

## **Possible solution**

For now we can add the same data on Wordpress website so we can get an idea for improvement !

[2021-04-15 05:15] rohank2502 commented on #170
@himanshu007-creator  Can we start for this ?

[2021-04-15 05:16] arpit456jain commented on #159
ok

[2021-04-15 05:21] arpit456jain commented on #168
@himanshu007-creator I don't think we can make its animations smooth because all it have is 2 images that's it how can i add animations to it
I had made this toggle button with out any image with animations .

https://user-images.githubusercontent.com/55352601/114817950-897b7b80-9dd8-11eb-9d70-81e22151de81.mp4

[2021-04-15 05:24] arpit456jain opened #171 "[Gssoc'21] Make a separate page of about us"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

I would like to give it a try to make a separate page for about section as suggested in issue  #159
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-04-15 06:40] anirudhsai20 commented on #132
Hi! I would still like to add a few changes that will enhance the Readme file.

[2021-04-15 06:40] himanshu007-creator commented on #132
details please?

[2021-04-15 08:17] arpit456jain commented on #159
I

@himanshu007-creator  I had raised a issue for this. Can i close this issue now?

[2021-04-15 08:21] SnehaVeerakumar commented on #159
@arpit456jain Yes, go ahead.

[2021-04-15 08:23] #159 closed

[2021-04-15 08:28] SnehaVeerakumar commented on #171
Start working on rhis issue. Don't alter nav bar and footer.
Get the necessary inputs from @himanshu007-creator. You can send a personal text to him in discord.

You will soon be assigned in this issue by @himanshu007-creator

[2021-04-15 09:37] Aditya201551 opened #172 "[ENHANCEMENT] [GSSOC' 21] Enhancing night mode feature"
## Issue Type:
- [ ] Bug Report
- [ ]  Feature Request
- [ ] Documentaion
- [x] Enhancement

## **Describe the feature**

- Adding transition to the night mode button and the whole page

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

https://user-images.githubusercontent.com/32588231/114847230-1cc5a880-9dfb-11eb-98dd-de4ab226ea23.mp4

its just an enhancement fo

[2021-04-15 09:53] Aditya201551 opened #173 "[GSSOC' 21] [FAVICON] Adding foundation logo to the title tab"
## Issue Type:
- [ ] Bug Report
- [ ] Documentaion
- [x]  Feature Request

## **Describe the feature**

- Adding foundation logo on the title tab of the web browser as page loads(favicon)

## **Possible solution**

- using favicon

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

screenshot not applicable

@himanshu007-creator

[2021-04-15 11:35] anirudhsai20 commented on #132
I will add something like this:
![pda](https://user-images.githubusercontent.com/63279440/114862966-c8c3bf80-9e0c-11eb-9a9b-9bf96605d776.png)

[2021-04-15 13:03] rohank2502 commented on #132
I think idea is good but should not look Oversized you can add just logo or
something like that @himanshu007-creator/SFC-foundations
***@***.***>  will
tell you yes or no

On Thu, Apr 15, 2021, 5:05 PM Anirudh Sai S B ***@***.***>
wrote:

[2021-04-15 15:57] CMELAKKIA opened #174 "I can create a separate page for 'project' section"

[2021-04-15 16:01] SnehaVeerakumar commented on #174
Go ahead. You will soon be assigned by @himanshu007-creator

Get the necessary inputs from discord personal chat of @himanshu007-creator

[2021-04-15 16:11] rohank2502 commented on #174
@SnehaVeerakumar  Copy of #170

[2021-04-15 16:13] SnehaVeerakumar commented on #170
@rohank2502 Go ahead and work on this.

@himanshu007-creator kindly assign him.

[2021-04-15 16:14] SnehaVeerakumar commented on #174
@CMELAKKIA create an issue about events page and close this please.

[2021-04-15 16:16] rohank2502 commented on #170
Cool ! I will start work on this tomorrow and update you with all three pages within 3 days will it be ok !

[2021-04-15 16:17] SnehaVeerakumar commented on #170
Yeah, 1st update by Sunday would be fine.

[2021-04-15 16:40] himanshu007-creator commented on #173
please attach a ss ,

[2021-04-15 16:40] himanshu007-creator commented on #173
review after a screenshot @SnehaVeerakumar

[2021-04-15 16:41] himanshu007-creator commented on #172
go ahead!! awesome!

[2021-04-15 16:41] SnehaVeerakumar commented on #173
Sure @himanshu007-creator

[2021-04-15 16:44] himanshu007-creator commented on #163
sure, ! i have a person, you both can collaborate! but for now, gove me some details of your solution, at at the end what will be the delievrables

[2021-04-15 16:45] himanshu007-creator commented on #164
yup, sorry.

[2021-04-15 16:45] #164 closed

[2021-04-15 16:58] Aditya201551 commented on #173
okay then I am start working then I will attach the ss

[2021-04-15 17:08] #174 closed

[2021-04-15 17:09] CMELAKKIA opened #175 "I can create a separate page for 'events' section"

[2021-04-15 17:27] arpit456jain commented on #171
@himanshu007-creator I had a about us page kindly review it and assign this issue to me

[2021-04-15 17:28] arpit456jain commented on #171
https://user-images.githubusercontent.com/55352601/114912818-1573be80-9e3e-11eb-8d29-a1e066fc2f99.mp4

[2021-04-15 17:30] arpit456jain commented on #168
@himanshu007-creator i just notice there is also a but in that button .
If you activate dark mode and refreesh the page it will go back in light mode it is of no use

[2021-04-15 17:39] SnehaVeerakumar commented on #171
@arpit456jain color :pink/red is not so good. Space between "about us" and the info can be reduced.

Don't worry about assigning. You will be assigned this issue with level-3 tag. Work on this issue.

[2021-04-15 17:46] arpit456jain commented on #171
Yeah colours can be changed anytime I just wanted to show the functionality.
And i will reduce the space don't worry

[2021-04-15 17:53] SnehaVeerakumar commented on #171
@arpit456jain cool !

[2021-04-15 17:59] SnehaVeerakumar commented on #175
Go ahead.

[2021-04-15 19:16] Aditya201551 commented on #173
@SnehaVeerakumar here is the screenshot of the added favicon:

![Screenshot (80)](https://user-images.githubusercontent.com/32588231/114925199-6db1bd00-9e4c-11eb-9d11-863614308670.png)

![Screenshot 2021-04-16 004138](https://user-images.githubusercontent.com/32588231/114925281-891cc800-9e4c-11eb-8c4c-41f19d333e49.png)

Please tell me if any change needed

[2021-04-15 19:17] SnehaVeerakumar commented on #173
Yeah it's good @Aditya201551

[2021-04-15 19:18] Aditya201551 commented on #173
so should i add the pr?

[2021-04-15 19:29] SnehaVeerakumar commented on #173
Yes, do it

[2021-04-15 19:52] Aditya201551 commented on #173
@SnehaVeerakumar added please review it

[2021-04-16 02:54] #173 closed

[2021-04-16 02:54] #172 closed

[2021-04-16 04:15] rohank2502 commented on #170
Cool @himanshu007-creator  Please assign

[2021-04-16 06:41] SnehaVeerakumar commented on #2
I would like to contribute to this issue.

[2021-04-16 06:44] himanshu007-creator commented on #2
@SnehaVeerakumar , we are planning to use razorpay. for more details and documents required from our side, DM.

[2021-04-16 07:10] shrishti-c commented on #163
Sir here we will be using google map API to integrate our website . Then we can show the location of NGO office on the website through google maps.

[2021-04-16 07:24] himanshu007-creator commented on #163
ok you cab send a PR

[2021-04-16 11:01] rohank2502 opened #178 "Dark mode not working !"
## Issue Type:
[ x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**
Dark mode not working !
- A clear and concise description of what the bug is.

## **Possible solution**

I think there is some misfunction in class names used ! will have to check !

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot 2021-04-16 162941](https:

[2021-04-16 11:18] rohank2502 commented on #178
Sorry Working Fine I think it took time to load

[2021-04-16 11:18] #178 closed

[2021-04-16 15:05] arpit456jain commented on #171
https://user-images.githubusercontent.com/55352601/115044513-34805800-9ef3-11eb-8cbe-0205f32332fa.mp4

[2021-04-17 06:37] rohank2502 opened #179 "News Section"
## Issue Type:
[ x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

When we click the new section Readmore we get directed to starting of the page

## **Possible solution**

We can add a link to readme of a direct news source or we can make a separate page and add the whole news there

[2021-04-17 06:37] rohank2502 commented on #179
@SnehaVeerakumar

[2021-04-17 06:46] SnehaVeerakumar commented on #179
I guess someone is working on that part of the issue. Find details in discord channel please.

[2021-04-17 06:47] rohank2502 commented on #179
Ok will do

[2021-04-17 07:10] rohank2502 opened #180 "Create Page For Sampuran Project !"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

Create a page for Sampuran Project

[2021-04-17 08:41] Aditya201551 commented on #3
@himanshu007-creator I would also like to collaborate on this task and I know Django pretty well and creating backend is a big task so it would be great if you have multiple people on board so if you wish I will be available🤠

[2021-04-17 08:42] himanshu007-creator commented on #3
@SnehaVeerakumar

[2021-04-17 08:44] SnehaVeerakumar commented on #3
You are welcome, we will have discussions in discord

@himanshu007-creator assign him with me

[2021-04-17 08:48] shruti-mayank opened #182 "GSSoC'21: Add contact section in home page"
Referring to the nav-links, the contact section is not mentioned and present on the homepage of the website. I request the creators to assign me the issue.

[2021-04-17 10:36] himanshu007-creator commented on #3
@SnehaVeerakumar  are you working on this ?!

[2021-04-17 10:39] SnehaVeerakumar commented on #3
@himanshu007-creator until i am assigned.

[2021-04-17 10:41] himanshu007-creator commented on #3
yeah you will be assigned, and you know whole idea, please collaborate with ADITYA and i hope you both will be able to make the backend part.

[2021-04-17 14:42] himanshu007-creator opened #183 "CREATING MOCKUPS OF DIFFERENT PAGES."
To make it easier for participants, we are planning to have a document containing mockup and description of various pages in website. This requires some time. I will have a meeting/call with the participant, explain every proposed view in detail  and within 3 days, participant have to make a document in specified manner.

[2021-04-17 16:05] srisatya1197 opened #184 "I want to add no.of forks, issues, stars in the readme file ."
I want to add no.of forks, issues, stars in the readme fie.
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119206-cc01ab80-9fc4-11eb-8d1d-00e5cb7bd81c.png)
I want to work on this . Please assign me this issue.

[2021-04-17 16:16] rohank2502 commented on #183
I will  do this one  👍🏻

[2021-04-17 16:45] rohank2502 commented on #184
Will look good Can we let him done @himanshu007-creator  I think it's better to add that

[2021-04-17 16:46] rohank2502 commented on #184
@srisatya1197 please be specific what things will you add

[2021-04-17 16:47] himanshu007-creator commented on #184
You can add other badges, ask @rohank2502  for more references

[2021-04-17 16:49] rohank2502 commented on #184
Share your idea on Discord channel we will have discussion and final it till morning 👍🏻

[2021-04-17 17:04] CMELAKKIA commented on #175
@himanshu007-creator Can you assign this issue to me?

[2021-04-18 02:32] srisatya1197 commented on #184
@himanshu007-creator Thank you for assigning.
@rohank2502 What discussion you are referring to?

[2021-04-18 02:59] gnikita432 opened #185 "The feed image in the bottom is overlapping the content in the mobile view"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

- The feed image which in in fixed position in bottom is overlapping the other content of site in mobile view
## **Possible solution**

- Describe the solution you thought of.
I can remove that image for the mobile view only or
can make the size of image small
or can add some feature like that image wil

[2021-04-18 04:47] rohank2502 commented on #185
Yes @gnikita432  I am working on this

[2021-04-18 04:49] gnikita432 commented on #185
Ohh Okay I am sorry for opening a duplicate issue.
Closing this issue.

[2021-04-18 04:49] #185 closed

[2021-04-18 04:50] rohank2502 commented on #185
Is ok you can find a new one thanks for contribution

[2021-04-18 07:43] #180 closed

[2021-04-18 08:31] #184 closed

[2021-04-18 09:43] atharva21-stack commented on #182
Can I solve this issue?

[2021-04-18 14:30] arpit456jain commented on #171
@himanshu007-creator

[2021-04-18 14:31] arpit456jain commented on #168
@himanshu007-creator

[2021-04-18 14:51] rohank2502 commented on #168
@arpit456jain  Hey , Nice Work will look your code and will let you know tomorrow! Sorry for  a bit delay hope you don't mind !

[2021-04-18 15:00] arpit456jain commented on #168
Yeah it's fine

[2021-04-19 04:54] rohank2502 opened #188 "Add page Gyan"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Add Page Gyan

[2021-04-19 05:00] #188 closed

[2021-04-19 05:30] rohank2502 opened #190 "Add page for vatavaran"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Add Page for Vatavaran Project

[2021-04-19 05:45] rohank2502 commented on #168
Hey, @arpit456jain Work is nice but have to look code once Please give a Pull request add me as a reviewer. Your code will be reviewed so it doesn't disturb the current project. And If it works fine then we will get this merged

[2021-04-19 05:46] arpit456jain commented on #168
Ok making a PR

[2021-04-19 05:48] rohank2502 opened #192 "Dark Mode of Pages"
## Issue Type:
[ x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

Dark mode in 3 pages of the project don't work well the text gets faded.

## **Possible solution**

Need to change the color of the text to white so it will be clearly visible!

## **Screenshots**

![image](https://user-images.githubusercontent.com/76584243/115187455-f8224700-a100-11eb-8325-44caa45d9bf

[2021-04-19 06:01] #190 closed

[2021-04-19 06:02] rohank2502 commented on #192
@himanshu007-creator  Please assign this issue this need Attention will work on this

[2021-04-19 06:09] arpit456jain commented on #168
@rohank2502 i dont't know you noticed or not but there is bug in current dark mode

as you can see in this video when  I activated dark mode and refresh the page it should be dark mode .
It is not working properly

[2021-04-19 06:42] arpit456jain commented on #168
@himanshu007-creator @rohank2502 kindly review my PR

[2021-04-19 07:40] #192 closed

[2021-04-19 08:04] #168 closed

[2021-04-19 11:05] codebuzzer01 commented on #183
hey @himanshu007-creator  if someone hasn't contributed yet pls assign it to me.

[2021-04-19 11:22] rohank2502 commented on #183
Sorry I am working on this !

[2021-04-19 11:33] rohank2502 opened #195 "Mode Reverts back after reload"
## Issue Type:
[ x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

If we Put Darkmode on and Refresh Page then WE remain on darkmode after reload on main page but when we do the same on project pages then it don't happen

## **Possible solution**

I will like to work on this!

[2021-04-20 06:14] #195 closed

[2021-04-20 06:43] himanshu007-creator commented on #1
its pretty much decided. so closing this issue, You can work on other issues. BEST OF LUCK!

[2021-04-20 06:43] #1 closed

[2021-04-20 08:38] rohank2502 commented on #183
@himanshu007-creator  Please remove Up for grab and assign to me

[2021-04-20 12:05] rohank2502 opened #197 "Add Page Join-Us Intern"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Add a Page of Join us in intern

[2021-04-20 15:11] Sejal260 commented on #123
@himanshu007-creator when will you provide me this issue?

[2021-04-21 06:50] #197 closed

[2021-04-21 06:51] rohank2502 opened #199 "Fix Navigation Of Section"
## Issue Type:
[ x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

When we get to each section then we got heading hidden under the navigation bar

## **Possible solution**

We have  to reduce the size of navigation bar not directly because if we reduce directly the switch button gets misplaced

[2021-04-21 07:46] SnehaVeerakumar opened #200 "Enhancement in contact us form"
## Issue Type:
     Enhancement and coding it.

## **Describe the bug**

- Present conatact form design needs UI enhancements.

## **Possible solution**

- Adding neumorphic/glassmorphic designs will enhance the form view

[2021-04-21 08:07] rohank2502 commented on #199
@himanshu007-creator  Please assign

[2021-04-21 08:26] rohank2502 opened #201 "Redesign About Us section"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Redesign of About section as per old website

When we click about us in navbar we will be directed to this section on the main page and from that section, we can navigate to different pages as we have in our old website rather than giving a drop down I think this will be an attractive approach

![Scree

[2021-04-21 08:27] rohank2502 commented on #201
@himanshu007-creator  Can we go for this ? After getting approval from you will work on different pages and will take reference from our old website please have a look once

[2021-04-21 10:57] arpit456jain opened #202 "Adding a Wave"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

I would like to add a back to top button

[2021-04-21 11:31] rohank2502 commented on #202
@arpit456jain  Please explain what exactly you want to add

[2021-04-21 11:38] arpit456jain commented on #202
Its like a arrow pointing upward and it will be visible when we scroll down and on clicking on that Arrow we will automatically reach to top

[2021-04-21 11:47] rohank2502 commented on #202
Actually, your  idea is good but we have a navbar which remains on top in any part of the website So I don't think its required but the final call will be taken by @himanshu007-creator

[2021-04-21 12:54] arpit456jain commented on #202
I have also tried to add a wave and its looking like this
<img width="960" alt="wave2" src="https://user-images.githubusercontent.com/55352601/115556917-d24a9d00-a2ce-11eb-8cdf-119f9248a648.png">

[2021-04-21 13:07] himanshu007-creator commented on #201
Proceed! @rohank2502

[2021-04-21 13:09] rohank2502 commented on #201
Cool Thanks ! Creating a Pr

[2021-04-22 04:01] rohank2502 commented on #183
https://docs.google.com/document/d/1E3aV5X734KouT0YgulOxgdj9zATI2XEKneT_lPp2GGs/edit?usp=sharing

In this Documents I have added Mockup Images of our pages Which are ready in code also just will give PR one by one so we can check them properly Now there is ABout Us section ready and events page ready I am going to create separate event pages for each event as on our old website . I will be creatin

[2021-04-22 05:16] #201 closed

[2021-04-22 05:22] rohank2502 commented on #183
@SnehaVeerakumar Please review the design in docs file

[2021-04-22 05:36] rohank2502 opened #204 "Create Know SFC page"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**
Create a separate page named know sfc

[2021-04-22 07:11] #204 closed

[2021-04-22 07:40] SnehaVeerakumar commented on #183
"More events" can be placed somewhere near the title as it may go missing if it is in bottom.

[2021-04-22 07:43] rohank2502 opened #206 "Create Page Objectives"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**
Create Page Objectives and vision

[2021-04-22 07:51] rohank2502 commented on #183
we have just 2 events in the upcoming how can we place more events before showing those two?

[2021-04-22 07:56] SnehaVeerakumar commented on #183
what is your suggestion about that ?

[2021-04-22 11:31] #199 closed

[2021-04-22 11:36] #206 closed

[2021-04-22 12:01] rohank2502 opened #210 "Create Page Working Model"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

[2021-04-22 12:23] gnikita432 opened #212 "Responsive footer"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

-The footer is not responsive for all devices. Hers the how its look in iPad
![image](https://user-images.githubusercontent.com/61223163/115713303-785fdb00-a393-11eb-9cac-4d044e42921b.png)

## **Possible solution**

- Footer content should be aligned properly in other than desktop view

## **Screenshots

[2021-04-22 13:47] #210 closed

[2021-04-22 14:23] rohank2502 commented on #212
Hey Thanks for creating issue but that's our old website on Wordpress new website you have to see by deploying your version

[2021-04-22 14:34] himanshu007-creator commented on #212
hi @gnikita432  we are working on a new website whose test version can be seen <a href="https://himanshu007-creator.github.io/SFC-foundations/#events">here</a> new pages are being created one by one. If you find another issue/suggestion , you are most welcome. Maybe you can send a PR as well🙂

[2021-04-22 14:34] #212 closed

[2021-04-22 14:46] rohank2502 opened #213 "Redesign Upcoming Events section"
## Issue Type:
[  ] Bug Report
[ x]  Feature Request
[  ] Documentaion

[2021-04-22 15:20] gnikita432 commented on #212
Ohh Okay sorry for inconvenience.

[2021-04-22 19:51] #46 closed

[2021-04-23 05:33] rohank2502 commented on #183
Please have a look at Design of Founder Page and suggest changes @SnehaVeerakumar

[2021-04-23 06:14] SnehaVeerakumar commented on #183
I am not the reviewer of this project. Stop tagging me everywhere😅

[2021-04-23 06:16] himanshu007-creator commented on #183
All contributors are reviewers automatically, you CAN review ✔

[2021-04-23 06:18] SnehaVeerakumar commented on #183
Oh i was not aware about that. But still @rohank2502 kindly stop tagging me anywhere in this project 😅😅

[2021-04-23 06:20] #200 closed

[2021-04-23 08:23] rohank2502 commented on #183
@himanshu007-creator  Told me to take suggestion from you regarding designs

[2021-04-23 08:24] SnehaVeerakumar commented on #183
Oh maybe not from now,  sorry.

[2021-04-23 08:30] rohank2502 commented on #183
ok Thanks for your help

[2021-04-23 08:39] rohank2502 opened #215 "Create Founder Page"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

Please suggest If changes in this design happy to make changes if they will enhance looks

![founder](https://user-images.githubusercontent.com/76584243/115844474-7ce0ce00-a43d-11eb-8d6f-f2003c6a08b7.png)

[2021-04-23 09:33] #213 closed

[2021-04-23 09:44] rohank2502 opened #216 "Add Event Page"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

When we click more event button on main page it should take us to separate event page

[2021-04-23 12:03] rohank2502 opened #218 "Create Page Core team"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

[2021-04-23 12:12] rohank2502 commented on #218
@himanshu007-creator  Please have a look at this video the working of core team page suggest changes if any
https://drive.google.com/file/d/1pmwqrlWupcoPZptGJGkxffacA4YDd6fn/view?usp=sharing

[2021-04-23 19:10] arpit456jain commented on #202
@rohank2502 @himanshu007-creator how about this wave feature ?

[2021-04-23 19:10] #171 closed

[2021-04-24 04:56] rohank2502 commented on #202
I cant decide @himanshu007-creator will take final call

[2021-04-24 05:03] himanshu007-creator commented on #202
can you share a GitHub page after deploying your proposed additions?
1) wave pattern
2) back to top button.

additional comments:- try to implement 2nd feature in a effective method, so as the dogs image and counter is not effected.

[2021-04-24 05:06] rohank2502 commented on #215
@divyashukla23 @himanshu007-creator  Suggest changes in design as you get time

[2021-04-24 05:15] himanshu007-creator commented on #215
yes, i wanted there to be a dropdown below it for more information
structure
<table>
<tr><td>Picture of Founder</td></tr>
<tr><td>Name ( large and caital)</td></tr>
<tr><td>Designation ( a bit small than name, color gray and text in italics</td></tr>
<tr><td>Dropdown button for about (bio) section with the label **KNOW MORE**</td></tr>
</table>

[2021-04-24 05:24] rohank2502 commented on #215
OK means after clicking know more the text will be displayed right

[2021-04-24 05:24] himanshu007-creator commented on #215
Yes

[2021-04-24 05:38] arpit456jain commented on #202
https://arpit456jain.github.io/coursera/

[2021-04-24 06:05] rohank2502 commented on #202
Please Update your branch from master

[2021-04-24 09:41] rohank2502 commented on #215
Have done the changes please have a look @himanshu007-creator

[2021-04-24 12:16] arpit456jain commented on #202
done @rohank2502 @himanshu007-creator

[2021-04-24 15:58] Aditya201551 opened #222 "Adding backend file structure"
## Issue Type:
- [x]  Feature Request

## **Possible solution**

- Deploying backend to this project in the new branch

## **Screenshots**

- view or #221

[2021-04-24 18:31] #52 closed

[2021-04-24 19:06] Bhavya-Sehgal opened #223 "Dark/Light mode"
I want to add dark/light mode to the website.

[GSSOC'21]

Please assign me this issue @himanshu007-creator

[2021-04-25 05:18] rohank2502 commented on #223
Sorry We have Dark/Light mode @Bhavya-Sehgal  Thanks for showing interest in contribution you can definitely find any other issue to work on

[2021-04-25 15:16] #202 closed

[2021-04-25 15:24] himanshu007-creator commented on #73
Hi, this issue is regarding the old code, so not needed.  You can instead try for other issues.

[2021-04-25 15:24] #73 closed

[2021-04-25 15:26] himanshu007-creator commented on #124
So touched , but i would suggest you to make some changes regarding the responsive behaviour of website.

[2021-04-25 15:26] #124 closed

[2021-04-26 04:34] rohank2502 commented on #223
@Bhavya-Sehgal  Please close the issue

[2021-04-26 09:02] #223 closed

[2021-04-26 09:58] nidhivanjare opened #224 "Donate Page"
## Issue Type:
- [ ] Bug Report
- [x]  Feature Request
- [ ] Documentaion

## **Describe the bug**

- Create a donate page

## **Possible solution**

- I would like to create a donate page for the foundation if you provide me the relevant details.

## **Screenshots**

<img width="886" alt="image" src="https://user-images.githubusercontent.com/55665104/116064768-f4179b80-a6a3-11eb-8874-e70593a42323

[2021-04-26 10:35] #215 closed

[2021-04-26 12:53] arpit456jain opened #225 "Bug in Backend"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**
Urls are not correct in navbar when user is on any different page other than home page we are not able to go to

about
project
news and etc pages

## **Possible solution**
It should redirect to home page  and then to the particular section

## **Screenshots**

https://user-images.githubusercontent.com/55

[2021-04-26 12:59] arpit456jain opened #226 "Backend for Contact Us"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

I would like to add backend code for contact us . for now as we know there is no such page for contact us but i can make form on blank page and write the backend .
when the contact page will be added we can simply change the url

[2021-04-27 03:15] rohank2502 commented on #226
@himanshu007-creator  Do we need backend or just some API will do our work I am working on it will give you results in 2-3 days hope its fine

[2021-04-27 03:16] himanshu007-creator commented on #226
An API would do just fine!
Hope to see a good result

[2021-04-27 03:19] rohank2502 commented on #226
Yes For Sure

[2021-04-27 09:44] nidhivanjare commented on #224
@himanshu007-creator can I work on this?

[2021-04-27 10:49] #226 closed

[2021-04-27 12:11] shreyasZ10 opened #227 "Back on top functionality for webpage"
## Issue Type:
[  ]  Feature Request

## **Describe the bug**

- Add back on top functionality for the webpage.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-04-27 13:46] arpit456jain commented on #225
@himanshu007-creator can i start working

[2021-04-27 13:57] himanshu007-creator commented on #225
Hi @arpit456jain , currently some pages are under development. Till this month, work will be over, that's why we have placed hyperlink reference to "#"

[2021-04-27 14:36] arpit456jain commented on #225
Ok

[2021-04-27 17:47] divyashukla23 commented on #224
@nidhivanjare go ahead with the work and send a PR. I will add a label to this issue

[2021-04-27 17:48] #155 closed

[2021-04-27 17:49] divyashukla23 commented on #125
Go ahead!

[2021-04-28 10:23] nidhivanjare commented on #224
I have some questions.

For the donation page, I have to add a payment method, and for that, I would have to add PHP on the side.
Is that okay?
And are there any other requirements for the page?

[2021-04-28 11:27] rohank2502 opened #228 "Contact Us Page"
Hello, Everyone, We have to check the working of the Contact Us page so need your help!

The link for Contact us page is given below please fill It We want to know how the information is received at our end I will attach the ss of received Emails. After this testing we will look on Css @himanshu007-creator  Happy to make  changes so please test working of form and do suggest the changes  !

This w

[2021-04-28 11:30] rohank2502 commented on #228
https://rohank2502.github.io/SFC-foundations/pages/Contact-Us/contact.html   This is link of form @himanshu007-creator @divyashukla23

[2021-04-28 11:32] rohank2502 commented on #228
![Screenshot 2021-04-28 170220](https://user-images.githubusercontent.com/76584243/116396850-78eceb80-a843-11eb-84f8-c9343f86a4cb.png)

Got this Email After filling Form

[2021-04-28 11:47] rohank2502 commented on #227
Hello @shreyasZ10  We have Navigation Bar on every section of Page  So It will not be as such  useful to apply a button to came back  on top Thanks for Contribution ! Please find another issue or If you think its required please let me know in which page and in which section Please help us in improvement this will matter us a lot

[2021-04-28 11:55] rohank2502 commented on #224
@himanshu007-creator  Please have a look here! We need to talk with Backend person for this because he is handling the whole backend so this will be helpful

[2021-04-28 12:57] divyashukla23 commented on #224
@nidhivanjare Design the front end of the donate page and send PR , do not integrate the payment gateway that will be handles by the person working on backend.

[2021-04-28 13:07] himanshu007-creator commented on #224
@nidhivanjare  we won't be using PHP in backend, we will be using django only. It will be for updating/adding/subtracting new blogs and articles.
My suggestion to you will be making a separate page having good pictures + persive text . We would really appreciate your contributions and looking forward to it real soon.
Best of luck🎉

[2021-04-28 14:09] nidhivanjare commented on #224
okay understood !!
Thank You !!

[2021-04-28 16:19] rohank2502 commented on #224
If need help in frontend please let me know will be happy to help !

[2021-04-29 01:38] himanshu007-creator commented on #228
@rohank2502 , functionality nis cool, I hope there are no call limits for API and it's free. Now you can improve upon the visualisation, form looks GTG, but background can be made better. Some gradient, wave or anything you like. But keep it simple, just a pinch of styling will do the job.

[2021-04-29 04:36] rohank2502 commented on #228
We have a monthly limit of 50 responses! https://formspree.io/plans  Please have a look at prices here! I think this is the best opinion which we can take !! And we are also provided a dashboard where we get an overview of how many emails we received and from whom! I don't think there will be any better free platform for this service!

[2021-04-29 11:43] rohank2502 commented on #228
Shall we continue then ? If you this the per month 50 is enough

[2021-04-29 11:45] himanshu007-creator commented on #228
Yes , continue!

[2021-04-29 11:48] rohank2502 commented on #228
OK, Please let me know what change from your side will you like to see! SO I can make those changes for sure and also try to make something from my end to add some more attractive look !!

[2021-04-29 14:43] himanshu007-creator commented on #228
First try to create a good background image that suits the cause NGO stands for. above that place the form. For form, you cab take inspiration from apple UI, create a water translucent effect ( glassmorphism). take form structure idea from <a href="https://www.youtube.com/watch?v=-sMXE7E3R3M">here</a> and form glass effect can be taken from <a href="https://glassmorphism.com/">here</a>
rest i hope

[2021-04-30 03:16] gnikita432 opened #229 "Add Prettier for Code formatting"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-04-30 03:18] gnikita432 opened #230 "Setting up ESLint in the project"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

- As the project is becoming bigger, it is important that the code is linted properly to ensure the consistency and quality of the code
To achieve this, we should set up ESLint in the project.

## **Possible solution**

- I would like to work on this issue

## **Screenshots**

- If applicable, add scree

[2021-04-30 03:20] himanshu007-creator commented on #229
Please add a good brief description

[2021-04-30 03:21] himanshu007-creator commented on #230
Please add a good brief description

[2021-04-30 03:28] gnikita432 commented on #229
Yes, I have added now.

[2021-04-30 04:43] rohank2502 commented on #230
I think we should add this after I clean all the project with proper naming of css and HTML classes for now I have just made a common page and went on changing what is required but I will be  changing it to only what is required for particular page after I make those changes we can go for this @himanshu007-creator

[2021-04-30 04:44] rohank2502 commented on #229
Please go for this when I clean our codebase !

[2021-04-30 13:53] #222 closed

[2021-05-01 09:44] nidhivanjare commented on #224
I have created the PR. Let me know if there are any changes.
@rohank2502. @himanshu007-creator

[2021-05-01 14:22] #227 closed

[2021-05-01 14:30] himanshu007-creator opened #233 "Add KMP option"
# KMP(Key Managerial Personnel)
In our NGO, there are some independent organs that dont come under a particular unit or project. We would like to make a separate page for them. It will  include
1) IC BOARD
2) WMS ( website management system )
3) Others.. ( will discuss)

[2021-05-01 14:35] rohank2502 commented on #233
Will Work 👍🏻

[2021-05-01 14:37] himanshu007-creator commented on #225
Oh , my bad, i completely understand what you are referring to now. Thing is, first we need to get whole code of frontend done, these minor changes can be made later on. Hope you get what im saying

[2021-05-01 14:38] himanshu007-creator commented on #175
already made

[2021-05-01 14:38] #175 closed

[2021-05-01 14:43] arpit456jain commented on #225
yes
no problem

[2021-05-01 14:43] #225 closed

[2021-05-01 14:57] himanshu007-creator commented on #123
This issue is not needed as sent on old codebase

[2021-05-01 14:58] #123 closed

[2021-05-01 14:58] himanshu007-creator commented on #120
Unfortunately, you are viewing old website. In new website, this feature is depricated.

[2021-05-01 14:58] #120 closed

[2021-05-01 15:00] himanshu007-creator commented on #122
old codebase issue

[2021-05-01 15:00] #122 closed

[2021-05-01 15:00] himanshu007-creator commented on #119
old codebase issue

[2021-05-01 15:00] #119 closed

[2021-05-01 15:00] himanshu007-creator commented on #113
sorted

[2021-05-01 15:00] #113 closed

[2021-05-01 15:01] himanshu007-creator commented on #101
_sorted_

[2021-05-01 15:01] #101 closed

[2021-05-01 15:01] himanshu007-creator commented on #94
old codebase issue

[2021-05-01 15:01] #94 closed

[2021-05-01 15:01] himanshu007-creator commented on #82
old codebase issue

[2021-05-01 15:01] #82 closed

[2021-05-01 15:02] himanshu007-creator commented on #80
sorted

[2021-05-01 15:02] #80 closed

[2021-05-01 15:03] himanshu007-creator commented on #4
sure, go ahead!

[2021-05-01 15:03] himanshu007-creator commented on #84
old codebase issue

[2021-05-01 15:03] #84 closed

[2021-05-01 15:04] himanshu007-creator commented on #85
old codebase issue

[2021-05-01 15:04] #85 closed

[2021-05-01 15:05] himanshu007-creator commented on #86
@Deeks, please have a look on the present footer. If more changes are needed, do let me know

[2021-05-01 15:05] himanshu007-creator commented on #121
old codebase issue

[2021-05-01 15:05] #121 closed

[2021-05-01 15:05] himanshu007-creator commented on #8
Not needed anymore

[2021-05-01 15:05] #8 closed

[2021-05-01 15:06] bug-debug-done commented on #120
@himanshu007-creator  I raised the issue on "2nd APRIL"

[2021-05-01 15:06] himanshu007-creator commented on #9
@aniketsingh98571  please make a new PR or modify the old PR and push changes to new website code

[2021-05-01 15:08] himanshu007-creator commented on #10
Sure! you can make the site map ( plan chart ) but the kanban board is not needed , done with majority of work

[2021-05-01 15:08] himanshu007-creator commented on #11
not needed anymore

[2021-05-01 15:08] #11 closed

[2021-05-01 15:11] himanshu007-creator commented on #21
@chaitanyashimpi , please wait for some time. Sitemap will be meaningful once the frontend work is over. Then you can help yourself and send a new PR

[2021-05-01 15:13] himanshu007-creator commented on #120
@bug-debug-done , this is the new website ( under development )

[2021-05-01 15:30] bug-debug-done opened #234 "Photo not linked"
Some photos above footer section are not linked
![Screenshot from 2021-05-01 20-59-00](https://user-images.githubusercontent.com/75927761/116787163-3f74e400-aac0-11eb-9f5f-c1b31561d046.png)

[2021-05-01 15:31] bug-debug-done commented on #234
@himanshu007-creator  please have a look at this

[2021-05-01 15:52] rohank2502 commented on #234
Yes @bug-debug-done  the work is under process !!

[2021-05-01 15:57] rohank2502 commented on #170
@himanshu007-creator  We have created all three pages for projects !!

[2021-05-02 08:23] ApekshaAgarwal commented on #67
@himanshu007-creator  please assign this issue to me. I would like to work on this.

[2021-05-02 08:24] ApekshaAgarwal commented on #182
@himanshu007-creator please assign this issue to me. I would like to work on this.

[2021-05-03 09:41] #228 closed

[2021-05-03 10:21] #216 closed

[2021-05-03 10:28] himanshu007-creator opened #235 "Include Python and Django badges in TECH stack ( README )"
GO GET IT!

[2021-05-03 11:54] rohank2502 commented on #235
@kavyashree2001 hey will like to work on this ?

[2021-05-03 12:01] kavyashree2001 commented on #235
@himanshu007-creator  I would like to work on this issue...please assign me this issue!

[2021-05-03 12:03] rohank2502 commented on #235
Great @kavyashree2001  I will like to  help  you in this !!
Those batches are added from https://github.com/Ileriayo/markdown-badges This repository !! You have to add  the links of Python and Django as told by @himanshu007-creator  !! in read me file !! Please let me know if you need any help !!

[2021-05-03 12:08] kavyashree2001 commented on #235
Yeah sure!

[2021-05-03 13:37] Anubhav-developr commented on #234
well i can fix this, just tell which photos you want

[2021-05-03 13:57] Anubhav-developr opened #236 "Https binding is safer"
**Web config needed as it is doing payments too , so https will be secure , and this can be achieved by ssl certificate**
![Screenshot 2021-05-03 191144](https://user-images.githubusercontent.com/71844334/116885458-87714380-ac45-11eb-9900-67732f8679be.jpg)

[2021-05-03 14:21] rohank2502 commented on #236
Hey, @Anubhav-developr  you are looking at our Old website !!

[2021-05-03 19:40] Furquan712 commented on #125
I would like to work on this , Will you assignee me

[2021-05-04 02:12] himanshu007-creator commented on #235
@kavyashree2001 , umm it appears , you created a PR to self. You just created a PR to YOUR master branch. Thats no the way,
What you need to do now?
1) in your forked repo, open the <code>include-badges </code> branch
2) click on compare, make sure the following:-
Base repository  = <code>himanshu007-creator/SFC-foundations</code>
base= <code>master</code>
head repository = <code>kavyashree/SFC-fo

[2021-05-04 04:58] rohank2502 commented on #236
@himanshu007-creator  Can we close this issue because this is showing a bug in our old site!

[2021-05-04 05:01] #235 closed

[2021-05-04 05:06] himanshu007-creator commented on #236
@Anubhav-developr , as @rohank2502  have correctly mentioned, you are looking at the old website. New one is under development and after its done, we will be securing the domain with a SSL

[2021-05-04 05:06] #236 closed

[2021-05-04 05:26] Anubhav-developr commented on #236
ok

[2021-05-04 05:36] Rutikab12 opened #238 "Resizing of the image and context in project area."
## Issue Type:

There is resizing of the image needed in the project area.

## **Possible solution**

- I will fix this as GSSoC'21 participant. If Creator wants to improve it.

[2021-05-04 06:06] himanshu007-creator commented on #238
@Rutikab12 please attach screenshots and a brief description of issue

[2021-05-04 08:51] rohank2502 opened #239 "Created Blog Page !!"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Blog Page Created !!

## **Screenshots**

https://rohank2502.github.io/SFC-foundations/pages/Blog/blog.html

@himanshu007-creator  Please have a look at this I have created 4 pages each page have 10 sample blog cards we can toggle between each  page from bottom of the page !! Also suggest any changes If

[2021-05-04 09:18] gnikita432 commented on #229
Okay, thank you. @himanshu007-creator  can you please assign me this issue. I will make a PR by tomorrow.

[2021-05-04 11:01] rohank2502 commented on #239
@himanshu007-creator  After you check this page Please let me know so I can deploy the Blog template!

[2021-05-04 11:18] Rutikab12 commented on #238
![Screenshot (431)](https://user-images.githubusercontent.com/71027989/116995785-20609700-acf8-11eb-8eb2-76cdd593b5ab.png)

In the project area, the heading of the 2nd and 3rd image looks a little bit inappropriate, and the image is also not in the proper size for the third mission. So I want to improve that.

[2021-05-04 11:56] arpit456jain opened #240 "New Our team section created"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

I have created a new section for out teams on home page have a look
https://arpit456jain.github.io/coursera/index.html

[2021-05-04 13:29] rohank2502 commented on #240
@arpit456jain  Actually we have created Different pages for the team section @himanshu007-creator told me how they want and  I am working on it !!

[2021-05-04 21:15] Furquan712 commented on #163
I would like to work on this, will you assign me?

[2021-05-04 21:15] Furquan712 commented on #125
I would like to work on this, will you assign me?

[2021-05-05 13:53] rohank2502 commented on #238
I think @himanshu007-creator is an old website !!

[2021-05-05 13:58] himanshu007-creator commented on #240
@arpit456jain  this issue is being worked upon, but keep the work for now, will use it somewhere else

[2021-05-05 14:07] arpit456jain commented on #240
ok

[2021-05-05 14:07] #240 closed

[2021-05-05 14:19] #239 closed

[2021-05-05 15:56] atharva21-stack opened #243 "Site suggestions"
## Issue Type:
[x] Bug Report
[x]  Feature Request
[  ] Documentation

## **Describe the bug**

1. The Logo on the Header of the website  is not aligned properly , hence the top navigation bar is huge in height.
2.  Not all project images are aligned properly on home page.
3. Move social profiles to Footer.
4. Use Fontawesome for social profiles.

## **Possible solution**

1. We can rearrange the

[2021-05-05 15:57] atharva21-stack commented on #243
I would like to work on these issues @himanshu007-creator .

[2021-05-05 16:42] rohank2502 opened #245 "Templates for Blog News And Events"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

Create a separate template page for each o blog news and events!

[2021-05-06 04:31] #245 closed

[2021-05-06 04:46] rohank2502 commented on #243
@atharva21-stack  Please add screen shots!

[2021-05-06 04:48] rohank2502 opened #247 "Clean Index.html , script.js , style.css"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

Will clean the 3 files of the index page and this will help us to maintain the code and also read the code easily for the third person !!

[2021-05-06 05:37] rohank2502 opened #248 "Core Team Page"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

Create Page Core - Team

[2021-05-06 11:06] Anuradha0501 commented on #247
I would like to work on this issue as a GSSOC'21 participant.

[2021-05-06 16:28] anushka-srivastava22 commented on #63
I am gssoc participant. Can i work upon this issue...????

[2021-05-07 13:49] shrishti-c opened #250 "Back to Top Button"
I'd like to add back to Top button in website.

[2021-05-08 05:29] #163 closed

[2021-05-09 14:20] #233 closed

[2021-05-09 17:35] Saumya-07 opened #254 "Enhance some details"
## Issue Type:
 Feature Request

1. In the project section, the images and blocks are not aligned.
I can align them so that it looks better.
2. The social media links can be brought in the center and can be more styled (like on hover it shows different color for each icon and shows social media name )

## **Screenshots**
![Screenshot (572)_LI](https://user-images.githubusercontent.com/68998355/117

[2021-05-09 18:13] Elizah550 commented on #250
I have good experience with UI and I can clear this issue in 3-4 hrs of time please assign it to me.

[2021-05-10 02:28] himanshu007-creator commented on #254
Hi @Saumya-07 , sorry to break the news, but you are referring to old website. The new website does not have similar issues.

[2021-05-10 02:28] #254 closed

[2021-05-10 04:44] Sarthak-Agg commented on #125
can you assign me this, i can fix it

[2021-05-10 07:17] ShrutiKhatri826 commented on #125
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 08:24] rohank2502 opened #256 "Create News Page !"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Will be creating news page as a BLOG page !!

[2021-05-10 08:51] Anubhav-developr commented on #256
Can i solve this ?

[2021-05-10 08:52] Anubhav-developr commented on #256
What type of page you want elaborate , i will start working immediately

[2021-05-10 10:40] #224 closed

[2021-05-10 15:03] AmarKamalapuri opened #258 "Wordpress website login page change"
I want to change the admin login panel address to ensure security to website.

I am a GSSOC participant. Can u please assign this issue to me?

[2021-05-11 14:40] PandeySomya77 opened #262 "Code Architechture"
Can I add code architechture in readme file.

[2021-05-12 02:12] himanshu007-creator commented on #262
hi @PandeySomya77 , can you explain your solution a little bit more?

[2021-05-12 04:44] #256 closed

[2021-05-12 06:23] #234 closed

[2021-05-12 06:26] rohank2502 commented on #262
@PandeySomya77  Hey !! We are glad you show interest in contribution !! Will you like to explain more what exactly will you like to add in code architecture

[2021-05-12 19:21] PandeySomya77 commented on #262
Yes sure, I want thinking to add a code architechture in the readme file so that it is readable to everyone.
![architwc](https://user-images.githubusercontent.com/43266956/118032453-54395d80-b385-11eb-8b1a-bda8fca974d3.png)

[2021-05-13 10:29] rohank2502 opened #268 "Changed Feed Styling !"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

https://rohank2502.github.io/SFC-foundations/

Added only to index page !! 👍🏻

[2021-05-13 11:32] himanshu007-creator commented on #268
It looks super cute!, just give circle some color, and make it mobile responsive

[2021-05-13 14:45] rohank2502 commented on #268
Hey !! @himanshu007-creator  Please have a look at the Changes !!

[2021-05-13 14:50] himanshu007-creator commented on #268
COOL, SEND PR RIGHT AWAY :)

[2021-05-13 15:03] #268 closed

[2021-05-14 07:17] himanshu007-creator opened #271 "Provide GitHub pages link in README"
https://himanshu007-creator.github.io/SFC-foundations/

Insert this link in readme.md

display:-
-H1 tag- link <>

eg

<h1>GitHub Page Deployment can be found <a href="https://himanshu007-creator.github.io/SFC-foundations/">Here</a></h1>

[2021-05-14 07:18] techpkd123 commented on #271
@himanshu007-creator please assign the issue to me ? I am working on it.

[2021-05-14 07:47] #271 closed

[2021-05-14 13:56] subhangi2731 commented on #3
@Aditya201551 then why the issue is open

[2021-05-14 14:22] subhangi2731 commented on #2
@himanshu007-creator ??

[2021-05-14 14:45] Aditya201551 commented on #3
@subhangi2731 coz it's still under development

[2021-05-14 14:52] himanshu007-creator commented on #2
hi @subhangi2731 , you are most welcome to work on this issue, but the thing is , for an NGO, there are additional legal documents that are needed to setup payment gateway. So are you aware about that,and have prior experience regarding same?

[2021-05-15 06:12] rohank2502 commented on #258
Hey @AmarKamalapuri  We are not working on a WordPress website we are working on a Website which is made with HTML CSS and js

[2021-05-15 16:11] rohank2502 opened #273 "Responsiveness"
## Issue Type:
[x ] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

Make Website Responsive to Mobile !

[2021-05-15 16:43] #258 closed

[2021-05-15 16:44] #248 closed

[2021-05-15 16:45] himanshu007-creator commented on #250
@Elizah550 , you can work on this issue, but please view the present website. You can find it in readme/ github pages link, then think of innovating this feature

[2021-05-15 16:45] rohank2502 commented on #273
DeadLine Wednesday take +1 -1 Day

[2021-05-15 16:46] himanshu007-creator commented on #238
its the old website. Sorry

[2021-05-15 16:46] #238 closed

[2021-05-15 16:46] #183 closed

[2021-05-15 16:47] himanshu007-creator commented on #182
https://himanshu007-creator.github.io/SFC-foundations/pages/Contact-Us/contact.html

already there

[2021-05-15 16:47] #182 closed

[2021-05-15 16:48] himanshu007-creator commented on #218
done

[2021-05-15 16:48] #218 closed

[2021-05-15 16:48] himanshu007-creator commented on #179
done

[2021-05-15 16:48] #179 closed

[2021-05-15 16:48] himanshu007-creator commented on #170
done

[2021-05-15 16:48] #170 closed

[2021-05-15 16:49] himanshu007-creator commented on #169
#273

[2021-05-15 16:49] #169 closed

[2021-05-15 16:49] himanshu007-creator commented on #151
Its sorted, thanks for your interest

[2021-05-15 16:49] #151 closed

[2021-05-15 16:50] himanshu007-creator commented on #148
@rohank2502 , this issue needs work, will do this comming week

[2021-05-15 16:50] himanshu007-creator commented on #145
old website issue

[2021-05-15 16:50] #145 closed

[2021-05-15 16:51] himanshu007-creator commented on #132
@anirudhsai20  cool, get started. Keep in mind the sizing thing, rest its awesome. Use GIF's, badeges (codecov specially).
Best of luck

[2021-05-15 16:52] himanshu007-creator commented on #127
Old website issue

[2021-05-15 16:52] #127 closed

[2021-05-15 16:53] himanshu007-creator commented on #126
Not needed issue. Thanks everyone for your interest. Please view other issues

[2021-05-15 16:53] #126 closed

[2021-05-15 16:53] himanshu007-creator commented on #125
Old website issue

[2021-05-15 16:53] #125 closed

[2021-05-15 16:53] himanshu007-creator commented on #116
sorted

[2021-05-15 16:53] #116 closed

[2021-05-15 16:54] himanshu007-creator commented on #86
#148

[2021-05-15 16:54] #86 closed

[2021-05-15 16:54] himanshu007-creator commented on #78
Old website issue.

[2021-05-15 16:54] #78 closed

[2021-05-15 16:54] himanshu007-creator commented on #77
Sorry, but this feature has been already added.

[2021-05-15 16:54] #77 closed

[2021-05-15 16:55] himanshu007-creator commented on #47
sorted

[2021-05-15 16:55] #47 closed

[2021-05-15 16:56] himanshu007-creator commented on #45
#148

[2021-05-15 16:56] #45 closed

[2021-05-15 16:56] himanshu007-creator commented on #44
Sorry, DJANGO did the job, maybe next version might use it:)

[2021-05-15 16:56] #44 closed

[2021-05-15 16:57] himanshu007-creator commented on #43
Work in progress. so not an issue.

[2021-05-15 16:57] #43 closed

[2021-05-15 16:57] himanshu007-creator commented on #42
#148

[2021-05-15 16:57] #42 closed

[2021-05-15 16:58] himanshu007-creator commented on #40
@Nikitha2309 Hi , sorry for delays, but if you are still available, i will assign you this issue. Drop a confirmation please

[2021-05-15 17:00] himanshu007-creator commented on #39
@mansijain980  would you like to work? drop a conformation text, will assign  you immediately

[2021-05-15 17:00] himanshu007-creator commented on #37
sorted. :), please look for other open issues

[2021-05-15 17:00] #37 closed

[2021-05-15 17:02] #18 closed

[2021-05-15 17:03] #23 closed

[2021-05-15 17:03] himanshu007-creator commented on #24
old website issue

[2021-05-15 17:03] #24 closed

[2021-05-15 17:03] himanshu007-creator commented on #25
sorted

[2021-05-15 17:03] #25 closed

[2021-05-15 17:04] himanshu007-creator commented on #76
hi @bitaashna , are you still active, this issue can be assigned to you if you say so

[2021-05-15 17:05] himanshu007-creator commented on #76
not needed. Thanks, please look into other open issues :)

[2021-05-15 17:05] #76 closed

[2021-05-15 17:05] himanshu007-creator commented on #74
sorted

[2021-05-15 17:05] #74 closed

[2021-05-15 17:06] himanshu007-creator commented on #70
sorted

[2021-05-15 17:06] #70 closed

[2021-05-15 17:06] himanshu007-creator commented on #69
old website issue

[2021-05-15 17:06] #69 closed

[2021-05-15 17:06] himanshu007-creator commented on #68
sorted

[2021-05-15 17:06] #68 closed

[2021-05-15 17:06] himanshu007-creator commented on #67
sorted

[2021-05-15 17:06] #67 closed

[2021-05-15 17:06] himanshu007-creator commented on #66
sorted

[2021-05-15 17:06] #66 closed

[2021-05-15 17:07] himanshu007-creator commented on #65
unwanted feature. Still thanks for your interest. Please look into active issues!

[2021-05-15 17:07] #65 closed

[2021-05-15 17:07] himanshu007-creator commented on #64
sorted

[2021-05-15 17:07] #64 closed

[2021-05-15 17:07] himanshu007-creator commented on #63
sorted

[2021-05-15 17:07] #63 closed

[2021-05-15 17:07] himanshu007-creator commented on #62
sorted

[2021-05-15 17:07] #62 closed

[2021-05-15 17:07] himanshu007-creator commented on #61
sorted

[2021-05-15 17:07] #61 closed

[2021-05-15 17:07] himanshu007-creator commented on #51
sorted

[2021-05-15 17:07] #51 closed

[2021-05-15 17:07] himanshu007-creator commented on #50
sorted

[2021-05-15 17:07] #50 closed

[2021-05-15 17:08] himanshu007-creator commented on #48
an unwanetd feature. But still thanks for your contributions. Please look into other active issues:)

[2021-05-15 17:08] #48 closed

[2021-05-15 17:09] mansijain980 commented on #39
@himanshu007-creator sure sir , i would like to do work on it . Please assign this to me.

[2021-05-15 17:15] himanshu007-creator commented on #39
@mansijain980 , best of luck and please one thing. Make the contributing guidelines small, but it should be original. You are free to use emojis and fancy stuff (GIF's) but please DO NOT COPY/PASTE random CONTRIBUTING template

[2021-05-15 17:33] Tanu-priya-Roy commented on #64
I have sent Pull request but I haven't received any mail regarding my PR
can u plz confirm me once. I made the website responsive.

On Sat, 15 May 2021, 10:37 pm Himanshu, ***@***.***> wrote:

[2021-05-15 17:36] himanshu007-creator commented on #64
No there was no PR by you mam @Tanu-priya-Roy

[2021-05-15 17:38] himanshu007-creator commented on #64
What i think might have happened is that, you made a PR from your other branch to your Master branch. In your profile i didn't find SFC-foundations forked repo, maybe you deleted it, and now the mystery continues....👽

[2021-05-15 18:42] Tanu-priya-Roy commented on #64
So sorry to hear that but I completed the task long before. Can I send the
Pull request again?

On Sat, 15 May 2021, 11:08 pm Himanshu, ***@***.***> wrote:

[2021-05-16 08:29] SamikshaSankar opened #274 "Sticky Social Profile"
## Issue Type:
[  ] Bug Report
[ Y ]  Feature Request
[  ] Documentaion

## **Describe the bug**

- I want to add social media slider

## **Possible solution**

- When user can scroll social media bar will be fixed

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-16 08:47] himanshu007-creator commented on #274
hi @SamikshaSankar , can you share some media (pictures/videos) supporting your idea.

[2021-05-16 09:32] SamikshaSankar commented on #274
Uploading VID_20210516_145902.mp4…
...Like this

[2021-05-16 09:36] himanshu007-creator commented on #274
let it upload :)

[2021-05-16 14:10] SamikshaSankar commented on #274
![IMG_20210516_193630](https://user-images.githubusercontent.com/52104082/118400160-120e6580-b67e-11eb-8bf0-f4a30dd7da66.jpg)
In that we can apply animation based on  transitions and transforms.

[2021-05-16 14:23] himanshu007-creator commented on #274
umm,no, that is not needed, we aim to make a minimilistic website and all socials are already in contact us section

[2021-05-16 14:23] #274 closed

[2021-05-16 14:23] himanshu007-creator commented on #274
@SamikshaSankar . still a big Thanks for your time :)

[2021-05-17 15:44] #273 closed

[2021-05-17 18:22] PranavChauhan22 opened #277 "Enhancement on Know SFC Page"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the feature**
Improvement of the Know SFC page

## **Possible solution**
I am going to add a new illustrator image developed using Adobe Illustartor placed at top right corner and text alignment and font will also be improved. Both the features will include animation and will be user interactive.

## **Screenshots

[2021-05-17 18:24] PranavChauhan22 commented on #277
Admins please assign me this issue

[2021-05-18 04:21] Aditya201551 commented on #3
@himanshu007-creator please close this issue as the feature is completed

[2021-05-18 04:23] himanshu007-creator commented on #3
DJANGO made it happen. Thanks @Aditya201551  for your work🔥

[2021-05-18 04:23] #3 closed

[2021-05-18 05:24] rohank2502 opened #278 "Responsive KMP & Core Team Pages"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

[2021-05-18 05:41] #278 closed

[2021-05-18 05:43] himanshu007-creator opened #280 "Fix all links in Nav-Bar"
Fix all the links in the navbar . Just go through different pages and replace all "#" references with their proper hyperlinks.

[2021-05-18 05:54] rohank2502 commented on #280
Hey, I will be working on this !  Will tell you few points we need to think on will discuss those

[2021-05-18 05:56] rohank2502 commented on #280
Suppose if we are on news page ( opened from more news ) and we clicked the about section we cant  get redirected to the about us  section on home . We can go to home page but we cant directly get navigated to about us

[2021-05-18 05:58] himanshu007-creator commented on #280
i think there can be a way out for this, at present there is just 404

[2021-05-18 05:59] rohank2502 commented on #280
Yes that is because we have not added the links but I am saying different how to navigate to section in home page from other  page that I am saying

[2021-05-18 06:01] himanshu007-creator commented on #280
yeah, i got your point, we can go to a page, but going to specific section of page, it require some work.

[2021-05-18 06:05] himanshu007-creator commented on #280
@rohank2502 , there is one solution, we can use relative links in the homepage, and in other pages, we can use absolute links

for example in homepage
about us:  href="#about"

in other pages
about us : href="https://himanshu007-creator.github.io/SFC-foundations/index.html#about"

[2021-05-18 06:09] rohank2502 commented on #280
I Will give it  a  try

[2021-05-18 06:19] SugatoBagchi commented on #132
Hi,

I am a gssoc'21 participant and I would like to work on this issue.

It would be if you can assign me on this issue & elaborate a little more on it.

[2021-05-18 06:19] himanshu007-creator commented on #132
@anirudh, you were inactive, so sorry, @sugatoBagchi, best of luck!

[2021-05-18 06:21] #28 closed

[2021-05-18 06:21] himanshu007-creator commented on #31
sorted

[2021-05-18 06:21] #31 closed

[2021-05-18 06:21] himanshu007-creator commented on #32
sorted

[2021-05-18 06:21] #32 closed

[2021-05-18 06:21] rohank2502 commented on #132
@himanshu007-creator  What changes are we looking for ?  I will like to suggest one of the deployment link can be shifted up below the title  or somewhere like that. This will help the new user to get to the link soon and also add the link in the description

[2021-05-18 06:21] himanshu007-creator commented on #34
sorted

[2021-05-18 06:21] #34 closed

[2021-05-18 06:23] himanshu007-creator commented on #132
@SugatoBagchi , please note this , development link can be just after the badges. development link is GitHub pages link in present readme

[2021-05-18 06:23] SugatoBagchi commented on #132
Got it. Thanks. Will start working from today!👍

[2021-05-18 06:24] rohank2502 commented on #132
And Please let us know if any more changes you want to add @SugatoBagchi !! Great to have you in team ! Keep Working !

[2021-05-18 06:25] himanshu007-creator commented on #277
hi @PranavChauhan22 , can you elaborate a bit more about your suggestions? Try attaching some media (pics/videos) to support your work.

[2021-05-18 09:03] #280 closed

[2021-05-19 03:49] rohank2502 opened #282 "Add Link for Our Spotify in Footer !"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Add Link for Our Spotify in Footer !

[2021-05-19 03:50] rohank2502 commented on #282
@himanshu007-creator  Please assign me and add the images in assets folder

[2021-05-19 07:28] rohank2502 commented on #262
@himanshu007-creator  I think this will be great for the new developer !

[2021-05-19 07:31] himanshu007-creator commented on #262
@PandeySomya77  HI, you van work on this issue, but the thing is you have to wait. For now you can draw a similar architecture for Main branch. but we also have a Backend , that contains whole Backend Django code. So once we integrate it. Then this will be useful

[2021-05-19 07:32] rohank2502 commented on #262
We can go for two different that will be easy for new who have not worked on this project before

[2021-05-19 07:34] rohank2502 commented on #250
@Elizah550  Please let us know the work progress till today ! @himanshu007-creator  If he/she fails to reply Can I take over this because it's more than 3 days you have assigned !

[2021-05-19 07:34] himanshu007-creator commented on #262
Umm okay, that is also another way @PandeySomya77 , you can proceed in following manner.

[2021-05-19 07:35] rohank2502 commented on #243
@himanshu007-creator  Can we close this I think he was asking for the old site !

[2021-05-19 07:35] himanshu007-creator commented on #250
yeah, i will wait till 2 p.m for a reply, otherwise its yours

[2021-05-19 07:36] rohank2502 commented on #282
#148  This issue will be covered in this So closing the same !

[2021-05-19 07:36] #148 closed

[2021-05-19 07:39] rohank2502 commented on #4
Are we done with this I think we have added a site map  ? @himanshu007-creator  Please close this if we are done !

[2021-05-19 07:40] rohank2502 commented on #5
We are having Home Page can we close this issue ? @himanshu007-creator

[2021-05-19 07:41] #243 closed

[2021-05-19 07:42] rohank2502 commented on #9
@aniketsingh98571  Please let us know the progress !

[2021-05-19 07:42] #4 closed

[2021-05-19 07:42] himanshu007-creator commented on #5
I wanted her page suggestion saved for an alternative someday, but she is inactive,

[2021-05-19 07:44] rohank2502 commented on #10
I think we will be having the same in read me we can also make this issue and issue #262  Common !

[2021-05-19 07:44] rohank2502 commented on #21
Same issue as  #262  !  @himanshu007-creator

[2021-05-19 07:46] rohank2502 commented on #39
@himanshu007-creator  IF we need It I can go for it if no response from @mansijain980

[2021-05-19 07:46] rohank2502 commented on #40
If no response for @Nikitha2309  I will be happy to work on this  ! Let me know !

[2021-05-19 07:47] rohank2502 commented on #59
Done Already ! BY me LOL

[2021-05-19 07:47] #59 closed

[2021-05-19 07:48] rohank2502 commented on #247
We will do this after updating content or might be simultaneous! Sorry !!

[2021-05-19 07:48] #247 closed

[2021-05-19 07:49] #21 closed

[2021-05-19 07:50] #10 closed

[2021-05-19 09:03] mansijain980 commented on #39
@himanshu007-creator sir , i m working on it .due to 3 more issues it got delay . but by today evening i will commit a PR . As most of the work has been done ,
I request u to Please assign it to me.
Thanks.

[2021-05-19 09:05] mansijain980 commented on #39
@himanshu007-creator Sorry for the delay . I want to work on it .

[2021-05-19 09:05] rohank2502 commented on #39
Great !! No issues @mansijain980  Come up with a Pr ! Need help feel free to ask ! Don't worry about the assignment you will get assigned !  NO issues

[2021-05-19 09:07] rohank2502 commented on #39
@himanshu007-creator  Please assign @mansijain980  This issue ! Thanks for Contribution !

[2021-05-19 09:07] himanshu007-creator commented on #39
@mansijain980 , full steam ahead!

[2021-05-20 04:05] rohank2502 commented on #250
Please assign this to me @himanshu007-creator

[2021-05-20 07:40] #39 closed

[2021-05-20 07:48] mansijain980 commented on #40
@himanshu007-creator i would like to work on it . If issue is not solved till now. Let me know please.
Thanks.

[2021-05-20 07:54] rohank2502 commented on #40
Sorry I am working on this

[2021-05-20 07:56] mansijain980 commented on #40
Its ok no problem.
Thanks.

[2021-05-20 08:02] rohank2502 commented on #29
@himanshu007-creator  We can do this now ! If anyone is not I active will get it done till Sunday !

[2021-05-20 08:05] mansijain980 opened #285 "Alignment of cards in project session."
[  ]  Feature Request

## **Description**

![image](https://user-images.githubusercontent.com/63226239/118941552-7af02900-b96f-11eb-8c37-8622412e631c.png)
These cards should  also in proper order. Images should be of same sizes,

## **Possible solution**

Spacing in headings is not uniform in these three . "Read more " this should highlighted so that it will clearly visible and will click it to re

[2021-05-20 08:08] himanshu007-creator commented on #285
Old website issue, new one can be found <a href="https://himanshu007-creator.github.io/SFC-foundations/">here</a>

[2021-05-20 08:08] #285 closed

[2021-05-20 08:09] mansijain980 opened #286 "Improved Footer"
![image](https://user-images.githubusercontent.com/63226239/118942676-94de3b80-b970-11eb-91a5-4ead536ba6a9.png)
These 3 names can be in list from top to bottom .After copyright . SFC foundation should be in next line.
.

[2021-05-20 08:17] himanshu007-creator commented on #286
Old website issue, new one can be found <a href="https://himanshu007-creator.github.io/SFC-foundations/">here</a>

[2021-05-20 08:17] #286 closed

[2021-05-20 13:58] #132 closed

[2021-05-20 14:44] rohank2502 opened #288 "Explore Button on Home page"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

The Explore button on the home page is not getting redirected to anything we can add something in that or we can simply remove the button !

![Screenshot 2021-05-20 200451](https://user-images.githubusercontent.com/76584243/118999570-01c0f800-b9a8-11eb-952e-df34bf098d54.png)

[2021-05-20 14:58] rohank2502 opened #289 "Adding Wave Gif to every page !"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

Adding Wave to every page this will make every page look similar !!

[2021-05-20 15:01] himanshu007-creator commented on #289
@rohank2502  nice catch!

[2021-05-20 16:25] rohank2502 opened #290 "Donate Page is broken !"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

[2021-05-20 16:32] rohank2502 opened #291 "Send Button In Contact Us form !"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

![Screenshot 2021-05-20 220045](https://user-images.githubusercontent.com/76584243/119015955-050fb000-b9b7-11eb-93cd-32dab36a4511.png)

[2021-05-20 16:42] rohank2502 opened #292 "Socials in Footer"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

The Social in the footer of the contact us page are different from the rest of the pages !

Possible solution
1. TO change the icon of the rest of the pages as contact us page
2. To change the icon of contact us page as other page

[2021-05-20 16:49] rohank2502 opened #293 "Dark-Mode Bug in contact us page"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

When we add dark mode in contact us page the nav bar is not aligned properly

![Screenshot 2021-05-20 221738](https://user-images.githubusercontent.com/76584243/119018160-6e90be00-b9b9-11eb-895a-f52c7bc00517.png)

[2021-05-20 17:06] rohank2502 opened #294 "Margin Bug in Project Pages"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

We can reduce the margin to heading and navbar so that the section will be completely visible !

![Screenshot 2021-05-20 223519](https://user-images.githubusercontent.com/76584243/119020386-cc260a00-b9bb-11eb-92a3-03a793a49fbd.png)

[2021-05-20 17:09] rohank2502 opened #295 "Project Page Navigation Idea"
## Issue Type:
[  ] Bug Report
[x ]  Feature Request
[  ] Documentaion

## **Describe the bug**

As for now, we can go on each project page separately but can we add the link of the remaining two pages as a button below the content of each page this will help for quick navigation !

[2021-05-20 17:16] rohank2502 commented on #294
Same for Join Us page

[2021-05-21 03:53] rohank2502 commented on #292
Please let me know what to  do @himanshu007-creator

[2021-05-21 04:13] himanshu007-creator commented on #292
Change icon of contact us page to those used in other pages

[2021-05-21 06:25] #292 closed

[2021-05-21 06:32] #294 closed

[2021-05-21 13:14] Maaz-Code commented on #288
I think we should use the button to redirect to the about us section !! @himanshu007-creator I can do that.

[2021-05-21 14:40] rohank2502 commented on #288
Sorry But I don't think so because we have dedicated button for about us section

[2021-05-21 16:24] himanshu007-creator commented on #288
@Maaz-Code , your suggestion is right as a person who have just landed here. But @rohank2502  have been here for a long, so from his point of view, it's justified as well. I personally feel deleting this is a better option.
@Maaz-Code , I encourage you to find other issues to work on :)
@rohank2502 proceed as described in description.

[2021-05-22 04:15] rohank2502 commented on #288
Fixed in #289

[2021-05-22 04:16] #288 closed

[2021-05-22 04:44] #289 closed

[2021-05-23 08:01] rohank2502 opened #299 "Reorder the pages of project"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

Gyan> Vatavatan> sampuran

[2021-05-23 08:10] rohank2502 opened #301 "SFC preloader :- make the white square background round"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

[2021-05-23 08:21] rohank2502 opened #303 "Remove pictures from Join us page"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-23 08:31] rohank2502 opened #305 "improve styling of the KMP page"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

## **Describe the bug**

@himanshu007-creator  Please let me know  exactly what changes will you like to have !!

[2021-05-23 08:36] rohan-kulkarni-25 opened #306 "Replace Canva watermarked images"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

@himanshu007-creator  Please let me know which images to replaced by  which !

[2021-05-23 08:36] rohank2502 commented on #262
@PandeySomya77 Please let us know the work progress

[2021-05-23 14:14] #299 closed

[2021-05-23 14:17] #303 closed

[2021-05-23 14:18] #301 closed

[2021-05-23 16:29] PandeySomya77 commented on #262
It'll will be done by tomorrow.

[2021-05-23 16:29] rohank2502 commented on #262
No Issues !!

[2021-05-24 04:00] rohank2502 commented on #277
@PranavChauhan22  Any updates ? If any please let us know !!

[2021-05-24 04:08] rohank2502 commented on #290
This is solved :)

[2021-05-24 04:08] #290 closed

[2021-05-24 06:18] #291 closed

[2021-05-24 08:13] adysis14 commented on #250
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:14] adysis14 commented on #29
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:35] rohank2502 commented on #250
Great !! Sorry but I am working on this issue !

[2021-05-24 09:57] rohank2502 opened #308 "Create a Slider on Home page which will slide events !!"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

[2021-05-24 09:57] rohank2502 commented on #308
@himanshu007-creator  WIll be working on this !! LGTM by today itself !!

[2021-05-24 16:15] rohank2502 commented on #308
@himanshu007-creator  Sorry Little delay in PR will give it till afternoon some check are remaining !! Sorry

[2021-05-26 05:08] kavita1403 commented on #2
@himanshu007-creator please assign this to me. I have already made a project on it so I can do it easily.
Thankyou!

[2021-05-26 14:49] rohank2502 opened #311 "Event Template for Events in slider"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

[2021-05-26 15:14] #311 closed

[2021-05-26 15:37] #293 closed

[2021-05-26 16:02] rohank2502 commented on #295
@himanshu007-creator  Please have a look here

[2021-05-26 16:03] rohank2502 commented on #305
@himanshu007-creator  Please have a look here

[2021-05-26 16:03] rohank2502 commented on #306
@himanshu007-creator  Please have a look here

[2021-05-27 13:20] rohank2502 commented on #305
1. Will make the Border of the Image as per Mode !
2. Will make the Background of the orange color a little transparent

@himanshu007-creator  Anything addition to this ?

[2021-05-27 13:23] rohank2502 opened #314 "Feeder Img making it round"
## Issue Type:
[x ] Bug Report
[  ]  Feature Request
[  ] Documentaion

Can we make the feeder img as round in shape this will also match the inside img and will look more professional

![Screenshot 2021-05-27 185149](https://user-images.githubusercontent.com/76584243/119833491-c92b9c00-bf1c-11eb-9434-2ff97520cfe1.png)

[2021-05-27 13:23] rohank2502 commented on #314
@himanshu007-creator  Can we go for this ?

[2021-05-27 13:24] rohank2502 commented on #262
@PandeySomya77  Any further update ?

[2021-05-27 13:25] himanshu007-creator commented on #305
Yes, there was slight misunderstanding. Border of image will be as per the mode, but we need to get rid of orange color.
what i want is that  <code>kmpbox</code> background is transparent and the border of image is according to that. No orange

kmpbox: transparent by default
Dark theme:-
         image border color: white
         text-color: white

light theme:-
         image border color: black

[2021-05-27 13:26] rohank2502 opened #315 "Dark-mode bug in News button"
Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

The more news button text is not visible in darkmode
!!

![Screenshot 2021-05-27 185530](https://user-images.githubusercontent.com/76584243/119834084-448d4d80-bf1d-11eb-8458-f47b6fa721da.png)

[2021-05-27 13:30] himanshu007-creator commented on #315
@rohank2502 , please have a look at more events button in dark theme as well. Because its not same as more news, border radius and size differs.

[2021-05-27 13:38] himanshu007-creator commented on #262
Will wait for tomorrow, otherwise removing assignment

[2021-05-27 13:42] himanshu007-creator commented on #306
hi! , we need to change/ remove images
- image below about us section need to be changed as it have canva watermark
- Image below join us page have same issue.it needs to be REMOVED.

wayout
You can create similar but new images (without canva watermark ) and when downloading images, select make them transparent option.

[2021-05-27 14:16] himanshu007-creator opened #317 "Feed us section css improvements"
Current:-
![2021-05-27 (5)](https://user-images.githubusercontent.com/65963997/119841781-bcf70d00-bf23-11eb-8cfa-9305b8053e4e.png)

desired:-
![2021-05-27 (8)](https://user-images.githubusercontent.com/65963997/119841825-c7190b80-bf23-11eb-9878-11906cc22301.png)

Changes required:-

<code>
.feed{
border-radius: 100px;
}
.counter{
color: orange !important;
background-color: #92858552
}
</code>

As

[2021-05-27 14:17] shriya030 commented on #317
Can I work on this issue?

[2021-05-27 14:18] himanshu007-creator commented on #317
@shriya030 , best of luck.

[2021-05-27 17:48] shriya030 opened #319 "Modify Hamburger Menu"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

The text written in the hamburger menu is not visible.

## **Possible solution**

To avoid any change in the design, I'll give background color as white to the rest of the options in hamburger menu.

## **Screenshots**

![image](https://user-images.githubusercontent.com/56861600/119872830-84fec280-bf41-

[2021-05-27 17:52] shriya030 opened #320 "Modify hover action in hamburger menu items"
## Issue Type:
[  ] Bug Report
[ x ]  Feature Request
[  ] Documentaion

## **Describe the bug**

Creating a hover action on hamburger menu items.

## **Possible solution**

On hovering, The text color of menu items will change to yellow same as in the case of navbar items.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-27 17:56] shriya030 opened #321 "Changing hamburger icon"
## Issue Type:
[  ] Bug Report
[ x ]  Feature Request
[  ] Documentaion

## **Describe the bug**

Changing the burger icon of the menu to some other icon

## **Possible solution**

I will change the hamburger menu icon to another icon

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-28 03:35] rohank2502 commented on #320
@shriya030  Hey hello !! We display hamburgers in the mob version please let me know how can we hover on mobile ?

[2021-05-28 03:38] rohank2502 commented on #319
I think Please check once in mobile version this might be visible because we have applied background in mob version !

[2021-05-28 03:42] rohank2502 commented on #317
Lol, @himanshu007-creator  This is a repeat issue of  Which I created !! Its ok Np Great work @shriya030

[2021-05-28 03:43] rohank2502 commented on #314
Done in #317   @himanshu007-creator

[2021-05-28 03:43] #314 closed

[2021-05-28 03:48] rohank2502 commented on #306
Ok please assign me an issue I will work on this will replace the images with similar with noncanva mark ! Will create a new design which doesn't have a watermark !

[2021-05-28 10:43] shriya030 commented on #321
https://image.shutterstock.com/image-vector/minimal-set-hamburger-menu-flat-260nw-1501430735.jpg

One of these.

[2021-05-28 10:45] rohank2502 commented on #321
We can go with the one in the circle what you think @himanshu007-creator

[2021-05-28 10:45] shriya030 commented on #320
I was testing it on laptop and also saw sites that have hover action because sometimes I personally use some sites by splitting the screen, that's why I was saying.

[2021-05-28 10:48] shriya030 commented on #319
Nop! It's not working.

![WhatsApp Image 2021-05-28 at 4 17 23 PM](https://user-images.githubusercontent.com/56861600/119972850-5845bc00-bfd0-11eb-8879-1987f0625c4a.jpeg)

[2021-05-28 10:49] rohank2502 commented on #320
nice observation but I think this site is not one that is used by technical people during some work or during multitasking ! As per me mostly users will use this in full view of laptop/pc or mob ! But @himanshu007-creator Will take the final call !

[2021-05-28 14:10] rohank2502 commented on #319
OOk I think this is because of a new slider ! Well if you like to work its great @himanshu007-creator  Please check this ! Feel free to ask for any help @shriya030

[2021-05-28 14:41] himanshu007-creator commented on #320
@rohank2502 , you are right, but we need to be future ready , hence this would increase the accessibility of website.

[2021-05-28 14:46] #317 closed

[2021-05-28 15:51] #315 closed

[2021-05-28 18:33] shriya030 commented on #319
Okay! @himanshu007-creator please assign me this issue.

[2021-05-29 04:09] rohank2502 commented on #305
Please assign this issue to me !

[2021-05-29 06:07] #250 closed

[2021-05-29 06:15] #321 closed

[2021-05-29 06:33] #305 closed

[2021-05-29 06:43] rohank2502 commented on #40
@himanshu007-creator  Will make this done tomorrow today will work on frontend part

[2021-05-29 06:59] rohank2502 opened #326 "Image loading bug in Projects section"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

![Screenshot 2021-05-29 122833](https://user-images.githubusercontent.com/76584243/120061149-74e9fe80-c079-11eb-9e7d-9dd376db41a2.png)

By default, the image of the Gyan project should get loaded but the image of project sampuran gets loaded !

[2021-05-29 07:14] saniaarora15 commented on #326
Can I work on this issue under gssoc 21?

[2021-05-29 07:17] rohank2502 commented on #326
For Sure why not start working on this !! And come up with a Pr till 3pm because you just have to update a path !! Please make this done as soon as possible if need help let me know !! Best of Luck

[2021-05-29 07:26] saniaarora15 commented on #326
Thank you. I will do it asap.

[2021-05-29 08:48] saniaarora15 commented on #326
I have made the pr. Please review it.

[2021-05-29 09:05] #326 closed

[2021-05-29 10:29] saniaarora15 opened #328 "Allow only numeric data inside the Mobile number field in Contact Us form"
## Issue Type:
[×] Bug Report

## **Describe the bug**

The Mobile Number field of the Contact Us form is accepting text data as well. The Mobile number can be short or long but is always a number.

## **Possible solution**

Change the type to accept only numeric data.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-29 10:30] saniaarora15 commented on #328
I want to work on this issue. Please assign me.

[2021-05-29 11:54] saniaarora15 commented on #328
I have made the pr. Please review it.

[2021-05-29 12:30] rohank2502 opened #330 "hover on button in about us section not working"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

## **Describe the bug**

When we hover on button in about us section then there is no change as we get in light mode the background changes to yellow !

[2021-05-29 12:30] rohank2502 commented on #330
@himanshu007-creator  Please assign me

[2021-05-29 12:31] rohank2502 commented on #330
All buttons in dark mode does now show a hover effect !!  @himanshu007-creator
 Will like to fix this

[2021-05-29 12:41] rohank2502 opened #331 "Nav bar active page error"
## Issue Type:
[x] Bug Report
[  ]  Feature Request
[  ] Documentaion

![Screenshot 2021-05-29 181017](https://user-images.githubusercontent.com/76584243/120070660-3ec47300-c0a9-11eb-9055-0cdae7c284bf.png)

We are on Contact us page still it shows we are on about  us page !

[2021-05-29 12:45] rohank2502 commented on #331
@himanshu007-creator  Will work on this !!

[2021-05-29 12:55] mansijain980 commented on #40
@rohank2502 Can i work on it ?

[2021-05-29 12:56] rohank2502 commented on #40
Ok @mansijain980  !! @himanshu007-creator  please let her work on this !! Please come up with a Pr till Tomorrow @mansijain980

[2021-05-29 12:56] rohank2502 commented on #40
Start working !!

[2021-05-29 12:58] mansijain980 commented on #40
@rohank2502 and @himanshu007-creator thank you so much

[2021-05-29 13:04] rohank2502 opened #332 "Update content of core team main page paragraph"
## Issue Type:
[ ] Bug Report
[ x]  Feature Request
[  ] Documentaion

[2021-05-29 13:11] rohank2502 opened #334 "Update content of Team Chandigarh"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

[2021-05-29 13:19] rohank2502 opened #336 "Updated content of team Delhi"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

[2021-05-29 13:28] #336 closed

[2021-05-29 13:28] #334 closed

[2021-05-29 13:28] saniaarora15 opened #338 "About turns yellow instead of Contact us when Contact us is opened"
## Issue Type:
[x] Bug Report

## **Describe the bug**
When Contact Us section is opened, The "About" in the header turns yellow instead of "Contact Us".

## **Possible solution**

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![sfc](https://user-images.githubusercontent.com/64864806/120072115-bac1b980-c0af-11eb-9ca7-8f3a08554398.png)

[2021-05-29 13:29] #332 closed

[2021-05-29 13:30] saniaarora15 commented on #338
Please assign me this issue.

[2021-05-29 13:30] rohank2502 opened #339 "Update team mumbai content"
## Issue Type:
[  ] Bug Report
[x]  Feature Request
[  ] Documentaion

[2021-05-29 13:52] saniaarora15 opened #341 "Alignment of text below the logos in the Contact Us"
## Issue Type:
[x]  Feature Request

## **Describe the bug**
Aligning the text.

## **Possible solution**
Instead of a single sentence, Making it into two sentences.
![sfc](https://user-images.githubusercontent.com/64864806/120072775-15104980-c0b3-11eb-9f90-37762db3c792.png)

## **Screenshots**

- If applicable, add screenshots to help explain your problem.